<div class="thin-row">
  <h3>Your To-Do List</h3>

  <p>
    These are the few things you absolutely must get done. Check them off as you do them so that your coordinator doesn't have to nag you.
  </p>

  <table class="table table-bordered table-striped">
  	<thead>
  		<tr>
  			<th></th>
  			<th>
  	    	<h4>
  					<span id="tasks-to-do"><%= @team.noncompleted_tasks(tasks) %></span>/<%= tasks.count %> tasks are still on your list.</h4>
  				</h4>
  			</th>
  		</tr>
  	</thead>
  	<% tasks.each do |task| %>
  	  <tr>
  	    <td>				
  				<div class="checkbox">
    	  		<input <%= "checked='checked'" if task.done %> 
      	       class="mark-task" type="checkbox" data-team-id="<%= team.id %>" 
        	     data-role-name="<%= role %>" data-task-id="<%= task.id %>"
          	   <%= (role == 'coordinator') || (@role.user == current_user) ? '' : 'disabled' %> />
        </td>
  			<td> 
  							<% if task.done %>	
  								<%= content_tag(:s, (raw task.description)) if task.done %>
  							<% else %>
  								<%= raw task.description %>	
  							<% end %>
  			</td> 
  		</tr>
  	<% end %>
  </table>
</div>
