<div class="thin-row">
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr><h4>Your Team: <%= @team.name %></h4></tr>
        <tr>
          <th>Team role</th>
          <th>Name</th>
          <th>Email</th>
          <th>Dashboard</th>
          <th>Remove</th>
          <th>Reassign</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Coordinator</td>
        <td><%= @team.coordinator.user.name %> (You!)  </td>
        <td><%= @team.coordinator.user.email%></td>
        <td><%= @team.completed_tasks(@team.coordinator)  %> of <%=@team.tasks.count%> tasks done</td>
        <td></td>
        <td><% unless @team.approved_application_exceeds_limit %>
            <div class="btn-group">
              <button data-toggle="dropdown" class="btn btn-sm btn-success dropdown-toggle" type="button">Take role... &nbsp;<span class="caret"></span></button>
              <ul role="menu" class="dropdown-menu">
                <% %w{driver mapper printer}.each do |role| %>
                  <% unless @team.role(role.to_sym) %>
                    <li><%= link_to role.capitalize, take_responsibility_path(@team.id, role.to_s.downcase.to_sym) %></li>
                  <% end %>
                <% end %>
              </ul>
          </div>
        <% end %></td>
      </tr>
      <% @team.approved_applications.each do |r| %>
      <tr>
        <td><%= r.role.capitalize %></td>
        <td><%= r.user.name %></td>
        <td><%= r.user.email %></td>
        <td>
          <%= link_to "#{@team.completed_tasks(r)} of #{r.tasks.count} tasks done",
              team_path(params[:id], {role: r.role}) %>
        </td>
        <td>
          <%= link_to 'Remove From Team', cancel_role_application_path(@team.id, r.id),
          :method => :delete, :confirm => 'Are you sure you want to remove this person from your team?',
          :class => 'btn btn-sm btn-danger' %>
        </td>
        <td><%= link_to 'Reassign', reassign_path(@team.id, r.id), :class => 'btn btn-sm btn-danger' unless @team.role_applications.select { |application| application.approved? }.count >= 3 %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
