<h1>So you want to be a <%= @role_application.role.capitalize %></h1>

<%= render :partial => "teams/roles/#{@role_application.role}" %>

<%= form_for @role_application, :as => 'role_application', :url => new_role_application_path(@team_id)  do |f| %>

  <%= f.hidden_field :role, :value => @role_application.role %>

  <p>
    <%= f.label :why_cause, "Give us a few sentences about why you are interested in participating helping with the Fast Food Strike Movement."  %><span class="field-required">*</span><br />
    <%= f.text_area :why_cause, :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :other, "Is there anything else you'd like to tell us about yourself? " %><span class="field-required">*</span><br />
    <%= f.text_area :other, :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :phone, "Your mobile number (will only be shared with the national organizers and your team): " %><br />
    <%= f.text_field :phone, :class => 'form-control' %>
  </p>

  <p>
    <%= f.submit "Submit Application", :class => 'btn btn-primary' %>
  </p>

<% end %>
