<h1>Coordinator dashboard</h1>

<h3>This page gives you the tools you need to be an effective team member.</h3>

<div class="row">
  <div class="well well-sm col-md-4">
    <h4>Here's are your Facebook friends you've invited and are still waiting on </h4>

    <p>
    If you want to nag these folks, make sure you include their special link below.
    </p>

    <%= link_to join_team_url(@team.id), join_team_url(@team.id) %>

  </div>
  <div class="col-md-8">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Team role</th>
          <th>Name</th>
          <th>Email</th>
          <th>Invitation link</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Mapper</td>
        <td>Matilda Mapper</td>
        <td>matildamapper@mailinator.com</td>
        <td>http://flashteam.com/detroitfliers/mapper</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="well well-sm col-md-4">
    <h4>Here's who's requested to be on your team</h4>

    <p>
    Please review all the applications as soon as possible. You don't have to accept everyone onto your team. If you feel someone's not a good fit, you can reject them and we'll just tell them to search for a different team. You can also ask people who have applied for a role you've already filled to apply for a different role.
    </p>
  </div>
  <div class="col-md-8">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Team role</th>
          <th>Name</th>
          <th>Email</th>
          <th>Dashboard</th>
        </tr>
      </thead>
      <tbody>
      <% @team.role_applications.select {|r| !r.approved?}.sort_by { |r| r.rejected? ? 1 : 0 }.each do |r| %>
        <tr class="<%= 'strikethrough' if r.rejected? %>">
          <td><%= r.role.capitalize %></td>
          <td><%= r.user.name %></td>
          <td><%= r.user.email %></td>
          <td><%= link_to "Review this application#{ ' again' if r.rejected?}", view_role_application_path(@team.id, r.id), :class => 'btn btn-primary btn-xs' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="well well-sm col-md-4">
    <h4>Here's your team</h4>

    <p>
    You are a member of a team with four roles. Your coordinator is responsible for getting you all in the same place and checking in on everyone's progress.
    </p>
  </div>
  <div class="col-md-8">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Team role</th>
          <th>Name</th>
          <th>Email</th>
          <th>Dashboard</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Coordinator</td>
        <td><%= @team.coordinator.user.name %> (You!) <a href="reassign-team-member.html" class="label label-default">Reassign</a></td>
        <td><%= @team.coordinator.user.email%></td>
        <td><%= @team.coordinator.tasks.count{|t|t.done?}%> of <%=@team.coordinator.tasks.count%> tasks done</td>
      </tr>
      <% @team.role_applications.select {|r| r.approved?}.each do |r| %>
      <tr>
        <td><%= r.role.capitalize %></td>
        <td><%= r.user.name %></td>
        <td><%= r.user.email %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="well well-sm col-md-4">
    <h4>Here's your todo list</h4>

    <p>
    These are the few things you absolutely must get done. Check them off as you do them so that your coordinator doesn't have to nag you.
    </p>

  </div>
  <div class="col-md-8">
    <% @team.coordinator.tasks.each do |task| %>
    <div class="input-group">
      <span class="input-group-addon">
        <input <%= "checked='checked'" if task.done %> class="mark-task" type="checkbox" data-team-id="<%= @team.id %>" data-role-name="coordinator" data-task-id="<%= task.id %>" />
      </span>
      <%= task.description %>
    </div>
    <% end %>
  </div>
</div>
