<div class="thin-row">
  <div class="title">
    <span class="disband-button">
      <%= link_to 'Disband Team', disband_team_path(@team.id),
            :method => :delete, :confirm => 'Are you sure you want to disband this team? No turning back!',
            :class => 'btn btn-sm btn-danger' %>
    </span>

    <h1>Coordinator dashboard </h1>
  </div>
	<h3>This page gives you the tools you need to be an effective team member.</h3>
</div>

<%= render 'teams/social_links' %>
<%= render 'teams/applications_to_review' %>
<%= render 'teams/your_team_summary' %>
<%= render :partial => 'tasks', :locals => { :tasks => @team.tasks, :team => @team, :role => 'coordinator' } %>

