<%= content_for :head do %>
  <%= javascript_include_tag 'coordinator_dashboard' %>
<% end %>
<h1>Coordinator dashboard</h1>

<h3>This page gives you the tools you need to be an effective team member.</h3>

<div class="row">
  <div class="well well-sm col-md-4">
    <h4> Here's who you invited and are still waiting on </h4>

    <p>
    If you want to nag these folks, make sure you include their special link below.
    </p>

  </div>
  <div class="col-md-8">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Team role</th>
          <th>Name</th>
          <th>Email</th>
          <th>Invitation link</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Mapper</td>
        <td>Matilda Mapper</td>
        <td>matildamapper@mailinator.com</td>
        <td>http://flashteam.com/detroitfliers/mapper</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="well well-sm col-md-4">
    <h4>Here's who's requested to be on your team</h4>

    <p>
    Please review all the applicaitons as soon as possible. You don't have to accept everyone onto your team. If you feel someone's not a good fit, you can reject them and we'll just tell them to search for a different team. You can also ask people who have applied for a role you've already filled to apply for a different role.
    </p>
  </div>
  <div class="col-md-8">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Team role</th>
          <th>Name</th>
          <th>Email</th>
          <th>Dashboard</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Driver</td>
        <td>Donna Driver</td>
        <td>donnadriver@mailinator.com</td>
        <td><a href="#" class="label label-default">review their application</a></td>
      </tr>
      <tr>
        <td>Driver</td>
        <td>Deirda Driver</td>
        <td>deirdradriver@mailinator.com</td>
        <td><a href="#" class="label label-default">review their application</a></td>
      </tr>
      <tr>
        <td>Mapper</td>
        <td>Matt Mapper</td>
        <td>mollymapper@mailinator.com</td>
        <td><a href="#" class="label label-default">invite for different role</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="well well-sm col-md-4">
    <h4>Here's your team</h4>

    <p>
    You are a member of a team with four roles. Your coordinator is responsible for getting you all in the same place and checking in on everyone's progress.
    </p>
  </div>
  <div class="col-md-8">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Team role</th>
          <th>Name</th>
          <th>Email</th>
          <th>Dashboard</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Mapper</td>
        <td>Molly Mapper <a href="reassign-team-member.html" class="label label-default">Reassign</a></td>
        <td>mollymapper@mailinator.com</td>
        <td>3 of 4 tasks done</td>
      </tr>
      <tr>
        <td>Coordinator</td>
        <td>Cathy Coordinator (You!) <a href="reassign-team-member.html" class="label label-default">Reassign</a></td>
        <td>cathycoordinator@mailinator.com</td>
        <td>4 of 5 tasks done</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="well well-sm col-md-4">
    <h4>Here's your todo list</h4>

    <p>
    These are the few things you absolutely must get done. Check them off as you do them so that your coordinator doesn't have to nag you.
    </p>

  </div>
  <div class="col-md-8">
    <% @team.coordinator.tasks.each do |task| %>
    <div class="input-group">
      <span class="input-group-addon">
        <input <%= "checked='checked'" if task.done %> class="mark-task" type="checkbox" data-team-id="<%= @team.id %>" data-role-name="coordinator" data-task-id="<%= task.id %>" />
      </span>
      <%= task.description %>
    </div>
    <% end %>
  </div>
</div>
