<h1>Find teams near you</h1>

<%= form_tag find_teams_path, :method => :post, :class => 'form-inline' do %>
  <div class="form-group">
    <%= label_tag 'zip', 'ZIP Code', :class => 'sr-only' %>
    <%= text_field_tag 'zip', (@zip), :class => 'form-control', :placeholder => 'ZIP' %>
  </div>
  <div class="form-group">
    <%= label_tag 'distance', 'Within distance (miles)', :class => 'sr-only' %>
    <div class="input-group">
      <%= text_field_tag 'distance', (@distance || '5'), :class => 'form-control' %>
      <span class="input-group-addon">miles</span>
    </div>
  </div>
  <%= submit_tag 'Find Teams', :class => 'btn btn-default' %>
<% end %>

<h1>Teams near you</h1>

<h3>
  <div class="pull-right">
    <%= link_to 'Start your own team instead...', new_team_path, :class => 'btn btn-primary btn-sm' %>
  </div>
  Select a team to join.
</h3>

<div class="well well-sm">
  <p>You must also choose a role. Here's an explanation of the roles:</p>
  <dl class="dl-horizontal">
    <dt>Printer</dt>
    <dd>Your job is simple, but in some ways the most important: printing out and cutting up the leaflets. You'll need a printer and some patience with a pair of scissors. OR you can just go to Kinkos!</dd>
    <dt>Mapper</dt>
    <dd>Are you a great back seat driver? Good at using Google Maps. Then Mapper may be the role for you. You'll use a shared Google map to pick out restaurants that no one has contacted yet, then plan a route and print out some maps. </dd>
    <dt>Driver</dt>
    <dd>Any points on your liscence? Then don't apply for this role. You've got to transport the team around town. Shy about handing out leaflets in a restaurant? Then you can stay in the car and be the getaway driver.</dd>
  </dl>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Join</th>
        <th>Team name</th>
        <th>Where're they'll leaflet</th>
        <th>Coordinator's name</th>
      </tr>
    </thead>
    <tbody>
    <% @teams.each do |team| %>
    <tr>
      <td>
        <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-sm btn-success dropdown-toggle" type="button">Join team as... &nbsp;<span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <% %w{driver mapper printer}.each do |role| %>
              <% unless team.role(role.to_sym) %>
                <li><%= link_to role.capitalize, apply_team_path(team.id, role) %></li>
              <% else %>
                <li><a><s><%= role.capitalize %></s></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </td>
      <td><%= team.name %></td>
      <td><strong><%= team.city %></strong> - <%= team.zip %></td>
      <td><%= team.coordinator.user.name %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
