<h1>My Teams</h1>

<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Team name</th>
        <th>Coordinator's name</th>
        <th>Coordinator's email</th>
      </tr>
    </thead>
    <tbody>
    <% @current_user_teams.each do |team| %>
    <tr>
      <td><a href=<%= team.id %>><%= team.name %></a></td>
      <td><strong><%= team.city %></strong> - <%= team.zip %></td>
      <td><%= team.coordinator.user.email %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
