<h1>Start a new team</h1>
<h3>
You're starting a new team that will leaflet restaurants around your town. You'll be the coordinator of your team. You can keep the event private to just you and your friends, post the team publically for others to join, or do a mix of friends and new people. 
</h3>

<div class="well well-sm">
  <p>
  You can choose where you'll leaflet, how many restaurants you'll attempt and when you'll go.
  </p>

  <p>
  There are four roles on each team: coordinator, mapper, driver and printer. As the creator of the team, you are automatically its coordinator. (If you want to play a different role, you can switch with someone else after your team is created.)
  </p>

  <p>
  As the coordinator, you're the one who brings the event together. It's your job to check in on the other three team members to make sure everything is getting done. Each role has a todo list. Everyone on the team can see each other's todo lists -- and can see which items are checked off, and which are NOT yet checked off. If a team member hasn't done their job by the T-3 deadline (3 days before the event), then you have three choices: nag them to do it, do it yourself, or plug in a backup volunteer to do the job. You'll be provided with simple tools to make all this easy.
  </p>

  <p>
  You are also in charge of picking the meeting place for the event. If you want, you can get the group together for a planning or working meeting before the event. 
  </p>

  <%= form_for @team do |f| %>
    <p>
      <%= f.label :name, "Have an idea for a team name? (optional - and yes, you can edit it later)" %><br />
      <%= f.text_field :name, :class => 'form-control' %>
    </p>

    <p>
      <%= f.label :zip, "Which ZIP code will you be leafletting in?" %><br />
      <%= f.text_field :zip, :class => 'form-control' %>
    </p>

    <%= f.fields_for :coordinator do |coord_f| %>
      <%  {:why => "Write a sentence or two that capture why you want to do this work: (you can edit this later)",
           :where => "Describe where you're thinking of leafleting: (you can edit this later)",
           :about_private => "Is there anything you'd like to tell us about yourself? (Won't be shared publicaly.)"
      }.each_pair do |field, desc| %>
        <p>
          <%= coord_f.label field, desc %><br />
          <%= coord_f.text_area field, :class => 'form-control' %>
        </p>
      <% end %>

      <p>
        <%= coord_f.label :phone, "Your mobile number (will only be shared with the national organizers and your team)" %><br />
        <%= coord_f.text_field :phone, :class => 'form-control', :style => 'width: 50%' %>
      </p>
    <% end %>

    <p>
      <%= f.submit "Submit application", :class => 'btn btn-primary' %>
    </p>

  <% end %>
</div>
