<h1>Great! Thanks for your commitment! Create your team.</h1>
<div class="well well-sm">
  <%= form_for @team do |f| %>
    <p>
      <%= f.label :name, "What's your team name?" %><span class="field-required">*</span><br />
      <%= f.text_field :name, :class => 'form-control' %>
    </p>

    <p>
      <%= f.label :zip, "Where do you want your team to leaflet?" %><br />
      <%= f.text_field :zip, :class => 'form-control', :placeholder => "City, zip, neighborhood, etc" %>
    </p>

    <%= f.fields_for :coordinator do |coord_f| %>
      <%  {:why => "Write a sentence or two that capture why you want to do this work: (you can edit this later)",
           :where => "Describe where you're thinking of leafleting: (you can edit this later)",
           :about_private => "Is there anything you'd like to tell us about yourself? (Won't be shared publicly.)"
      }.each_pair do |field, desc| %>
        <p>
          <%= coord_f.label field, desc %><br />
          <%= coord_f.text_area field, :class => 'form-control' %>
        </p>
      <% end %>

      <p>
        <%= coord_f.label :phone, "Your mobile number (will only be shared with the national organizers and your team)" %><br />
        <%= coord_f.text_field :phone, :class => 'form-control', :style => 'width: 50%' %>
      </p>
    <% end %>

    <p>
      <%= f.submit "Submit application", :class => 'btn btn-primary' %>
    </p>

  <% end %>
</div>
