<div class="midder">
      <div class="midder_container">
        <div class="container">
          <div class="row">
            <div class="span5">
              <h1>
                You gotta do what you gotta do.
              </h1>
              <p class="lead">
                Sometimes someone has an emergency get in the way of a committment. Or they just get really busy with family or work. Or maybe they weren't quite as interested as they thought they'b be. Then it's time to reassign their job to someone else -- maybe yourself!
              </p>
            </div>
            <div class="span5">
              <form>
                <div class="form-group">
                  <label>
                    Let us know in a couple of sentences why you're reassigning this job.
                    <br />
                    <textarea class="input-block-level"></textarea>
                  </label>
                  <label>
                    If there's any drama we should know about (we doubt there is) then let us know -- like something that will wind up on the news, or affect workers. If everything's cool, then just leave this blank.
                    <br />
                    <textarea class="input-block-level"></textarea>
                  </label>
                  <label>
                    Anything else you'd like to tell us about?
                    <br />
                    <textarea class="input-block-level"></textarea>
                  </label>
                  <p>
                    If you've already talked with someone about reassigning the role to them, then reassign it below. Otherwise, assign it to yourself. If you want someone else to do it, you can assign it to yourself temporarily now and then come back to move it to someone else.
                  </p>
                </form>
                  <form action="/teams/<%= @team.id %>/reassign_team_member/<%= @role.id %>" method="get" id="roles">
                  <div class="btn-toolbar">
                    <div class="btn-group">
                      <select class="form-control" name="role" id="roles">
                          <% %w{driver mapper printer}.each do |role| %>
                            <% unless @team.role(role.to_sym) %>
                              <option><a><%= role.capitalize %></a></option>
                            <% end %>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <input type="submit" formaction="/teams/<%= @team.id %>/reassign_team_member/<%= @role.id %>" class="btn btn-primary btn-large" id="roles" value="Reassign"/>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
