<div class="thin-row">
<h1>
  <div class="pull-right">
    <% if @role.role == current_user.name%>
    <%= link_to 'Leave Team', cancel_role_application_path(@team.id, @role.id),
      :method => :delete, :confirm => 'Are you sure you want to leave this team?',
      :class => 'btn btn btn-danger' if @role.approved? %>
  <% end%>

  <% if @role.role != current_user.name %>
    <%= link_to 'Return to Dashboard', root_path, :class => 'btn btn-primary' %>
  <% end %>

  </div>
  <%= @role.role.capitalize %> Dashboard
</h1>

<h3>This page gives you the tools you need to be an effective team member.</h3>
</div>
<div class="thin-row">
    <p>
    You are a member of a team with four roles. Your coordinator is responsible for getting you all in the same place and checking in on everyone's progress.
    </p>
</div>

<%= render 'teams/your_team_summary' %>

<% if @role.approved? %>
  <%= render :partial => 'tasks', :locals => { :tasks => @role.tasks, :team => @team, :role => @role.role } %>
<% end %>

