<h1>
  <div class="pull-right">
    <% if @role.role == current_user.name%>
    <%= link_to 'Leave Team', cancel_role_application_path(@team.id, @role.id),
      :method => :delete, :confirm => 'Are you sure you want to leave this team?',
      :class => 'btn btn btn-danger' if @role.approved? %>
  <% end%>

  <% if @role.role != current_user.name %>
    <%= link_to 'Return to Dashboard', root_path, :class => 'btn btn-primary' %>
  <% end %>

  </div>
  <%= @role.role.capitalize %> Dashboard

</h1>

<h3>This page gives you the tools you need to be an effective team member.</h3>

<div class="row">
  <div class="well well-sm col-md-4">
    <h4>Here's your team</h4>

    <p>
    You are a member of a team with four roles. Your coordinator is responsible for getting you all in the same place and checking in on everyone's progress.
    </p>
  </div>

  <div class="col-md-8">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Team role</th>
            <th>Name</th>
            <th>Email</th>
            <th>Dashboard</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Coordinator</td>
            <td><%= @team.coordinator.user.name %></td>
            <td><%= @team.coordinator.user.email%></td>
            <td><%= @team.coordinator.tasks.where(:done => true).count %> of <%=@team.coordinator.tasks.count%> tasks done</td>
          </tr>
        <% @team.role_applications.select {|r| r.approved?}.each do |r| %>
          <tr>
            <td><%= r.role.capitalize %></td>
            <td><%= r.user.name %></td>
            <td><%= r.user.email %></td>
            <td><%= r.tasks.where(:done => true).count %> of <%= r.tasks.count%> tasks done, 
                  <%= link_to 'dashboard', team_path(params[:id], {role: r.role}) %></td>
          </tr>
        <% end %>
        <% unless @role.approved? %>
          <tr class="warning">
            <td><%= @role.role.capitalize %></td>
            <td><%= @role.user.name %> (You!)</td>
            <td><%= @role.user.email %></td>
            <td>
              Your application is pending...
              <%= link_to 'Cancel Application', cancel_role_application_path(@team.id, @role.id),
              :method => :delete, :confirm => 'Are you sure you want to cancel your application?',
              :class => 'btn btn-sm btn-danger' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if @role.approved? %>
<div class="row">
  <div class="well well-sm col-md-4">
    <h4>Here's your todo list</h4>

    <p>
    These are the few things you absolutely must get done. Check them off as you do them so that your coordinator doesn't have to nag you.
    </p>
  </div>
  <%= render :partial => 'tasks', :locals => { :tasks => @role.tasks, :team => @team, :role => @role.role } %>
</div>
<% end %>

<% if @role.approved? %>
<div class="row">
  <div class="well well-sm col-md-4">
    <h4>Map</h4>

    <p>
    "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
    </p>
  </div>
  <%= form_for @team, :as => 'team' do |f| %>
    <%= f.label :map, "Map link" %><br />
    <%= f.text_area :map, :class => 'form_control' %>

    <%= f.submit "Submit", :class => 'btn btn-primary'%>

  <% end %> 
</div>

<%= yield :scripts %> 
<% end %>
