<h1><%= @role_application.role.capitalize %> Application: <%= @role_application.user.name  %></h1>

<div class="row well well-sm">
  <p>Give us a few sentences about why you are interested in participating helping with the Fast Food Strike Movement.</p>
  <blockquote><%= @role_application.why_cause %> </blockquote>
</div>

<div class="row well well-sm">
  <p>Is there anything else you'd like to tell us about yourself? </p>
  <blockquote><%= @role_application.other %></blockquote>
</div>

<div class="row pull-right">
  <% unless @team.role(@role_application.role.to_sym) %>
    <%= link_to "Approve", review_role_application_path(@team.id, @role_application.id, 'approve'), :method => :post, :class => 'btn btn-primary' %>
  <% else %>
    <button class="btn btn-default">
      You already have a <%= @role_application.role.capitalize %> on your team.
    </button>
  <% end %>
  <%= link_to "Reject", review_role_application_path(@team.id, @role_application.id, 'reject'), :method => :post, :class => 'btn btn-primary' %>
  <%= link_to "Back to your dashboard", team_path(@team.id), :class => 'btn btn-primary' %>
</div>
