    <style type="text/css">
      #map-canvas { height: 100%; width: 100%; min-height: 400px; min-width: 400px;  margin:10px; border: solid green;}
    </style>
    <%# <script type="text/javascript">%>

      <%# var location_array = [];%>
      <%# var event_array = [];%>
      <%# var event_url_array = [];%>
      <%# var marker;%>
      <%# var map;%>

      <%# <% @movement.events.each do |event| %>%>
      <%#   if(<%= event.latitude && event.longitude %>){%>
          <%#       location_array.push(new google.maps.LatLng(<%=event.latitude %>,
                                                               <%# <%=event.longitude %>));%>%>
      <%#       event_array.push("<%=event.name %>");%>
      <%#       event_url_array.push("/events/" + "<%=event.to_param %>");%>
      <%# };%>
      <%# <% end %>%>
      <%# [> var center_location = location_array[0];<]%>

      <%# function initialize() {%>
      <%#   var mapOptions = {%>
      <%#     center: center_location,%>
      <%#     zoom: 7,%>
      <%#     // mapTypeId: google.maps.MapTypeId.HYBRID%>
      <%#   };%>
      <%#   map = new google.maps.Map(document.getElementById("map-canvas"),%>
      <%#       mapOptions);%>

      <%#   for (i = 0; i < location_array.length; i++) {%>
      <%#     marker = new google.maps.Marker({%>
      <%#       map:map,%>
      <%#       draggable:false,%>
      <%#       animation: google.maps.Animation.DROP,%>
      <%#       position: location_array[i],%>
      <%#       title: event_array[i]%>
      <%#     });%>

      <%#     var infowindow = new google.maps.InfoWindow({%>
      <%#         content: "Hi"%>
      <%#     });%>

      <%#     google.maps.event.addListener(marker, 'click', function(marker, i) {%>
      <%#       return function() {%>
      <%#         infowindow.setContent('<a href =' + event_url_array[i]+'>' + event_array[i] + '</a>');%>
      <%#         infowindow.open(map, marker);%>
      <%#       }%>
      <%#     }(marker, i));%>

      <%#   }%>

      <%# }%>

      <%# google.maps.event.addDomListener(window, 'load', initialize);%>
    <%# </script>%>
    <div id="map-canvas"/>
