<div class="row">
  <div class="col-md-8">
    <div class="bs-component">
    <div class='panel panel-default'>

    <div class='panel-body move'>
      <div class='media-move'>
        <div class="move-img">
          <%= link_to image_tag(movement.image.url, class: 'front-page img-movement'), movement_path(movement) %>
        </div>
        <div class="move-name"> 
          <%= movement.name %>
          <p><%= movement.tagline %></p>
          <p class="txt-sm"><%= truncate(movement.call_to_action, :length => 200) %></p>
          <div class="mvmt-details">
            <div class="mvmt-attendee"><%= movement.number_of_attendees %> Attendees</div>
            <div class="mvmt-location">Locations: <%= truncate(movement.locations, :length=>24) %></div>
          </div>  
        </div>
      </div>
        <div class="actions pull-right">
          <% if current_user && movement.users.include?(current_user) %>
            <p class="small"><%= link_to "Dashboard", dashboard_movement_path(movement, anchor: "movement") %></p>
          <% end%>
        </div>

    </div>

  </div>
  </div>
  </div>
</div>
