.row.event-list
  .col-sm-6
    =image_tag movement.image, class: "movement_avatar"
  .col-sm-6
    .row
      %h3.text-center= link_to movement.name, movement_path(movement)
      .tagline.text-center= movement.tagline
      %br
      - if current_user && movement.users.include?(current_user)
        = link_to movement.name + "'s Dashboard", dashboard_movement_path(movement, anchor: "movement"), :class=> "btn btn-success btn-sm"
      - if movement.about_creator
        %h4 About the Creators
        = movement.about_creator
    .row
      .col-xs-6
        .text-center
          .btn JOIN
      .col-xs-6
        .text-center= link_to "EVENTS", movement_events_path(movement), class: 'btn'

