<div class="col-md-8">
  <div class="bs-component">
    <div class='panel panel-default move'>
        <div class='media-move'>
          <div class="move-img">
            <%= link_to image_tag(movement.image.url, class: 'front-page img-movement'), movement_path(movement) %>
          </div>
          <div class="move-name">
            <div class="mvmnt-details">
              <%= link_to movement.name, movement_path(movement), class: "mvmt-navigation" %>
              <p><%= link_to truncate(movement.tagline, :length => 200, omission: "... See more"), movement_path(movement), class: "mvmt-navigation" %></p>
            </div>
            <p class="txt-sm">
              <%= truncate(movement.call_to_action, :length => 200, omission: "... %s") % link_to('See more', movement_path(movement)) %>
            </p>
            <% if movement.location %>
              <div class="mvmt-location">Location: <%= movement.location%></div>
            <% end %>
            <% unless movement.parent %>
            <% parent_id = movement.id.to_s + "chapters"%>
              <div class="mvmt-chapters btn" type= "button" data-target="#<%=movement.id.to_s + "chapters"%>"  data-toggle="collapse"> See our Support Network</div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
<div class = "collapse chapters" id= "<%=parent_id%>" >
  <%= render movement.sub_movements %>
</div>

