.tab-pane#events
	.well
		.panel.panel-default
			.panel-body
				%table.table.table-bordered.table-striped.sortable#group-events-table
					%tr
						%th= t('.event_name')
						%th= t('.when')
						%th= t('.where')
						%th= t('.approved')
						%th= t('.sponsored')
					- events.each do |event|
						%tr
							%td
								= event.name
								= link_to("(#{t('.view_event')}/", event_path(event))
								= link_to("#{t('.edit_event')})", my_events_path(:name => {:id => event.id}))
							%td= event.start_time_formatted
							%td= event.location
							%td= link_to event.approved? ? t('.unapprove') : t('.approve'), approve_path(event), method: :put, remote: true, id: "approve#{event.id}", class: "btn"
							%td= link_to event.sponsored? ? t('.unsponor') : t('.sponsor'), sponsor_path(event), method: :put, remote: true, id: "sponsor#{event.id}", class: "btn"
