<div class='tab-content tab-pane' id='movement'>
  <div class='row'>
    <div class= col-md-5>
      <div class='well'>
        <legend>Details</legend>
        <div class='form-horizontal'>
          <%= form_for @movement do |form| %>
            <fieldset>
            <div class='form-group'>
              <%= form.label :name, class: 'col-md-3 control-label' %>
              <div class='col-md-9'>
                <%= form.text_field :name, class: 'form-control' %>
              </div>
            </div>

            <div class='form-group'>
              <%= form.label :tagline, class: 'col-md-3 control-label' %>
              <div class='col-md-9'>
                <%= form.text_area :tagline, class: 'form-control' %>
              </div>
            </div>

            <div class='form-group'>
              <%= form.label :call_to_action, class: 'col-md-3 control-label' %>
              <div class='col-md-9'>
                <%= form.text_area :call_to_action, class: 'form-control' %>
              </div>
            </div>

            <div class='form-group'>
              <%= form.label :extended_description, class: 'col-md-3 control-label' %>
              <div class='col-md-9'>
                <%= form.text_area :extended_description, class: 'form-control' %>
              </div>
            </div>

            <div class='form-group'>
              <%= form.label :location, class: 'col-md-3 control-label' %>
              <div class='col-md-9'>
                <%= form.text_area :location, class: 'form-control' %>
              </div>
            </div>

            <div class='form-group'>
              <%= form.label :about_creator, class: 'col-md-3 control-label' %>
              <div class='col-md-9'>
                <%= form.text_area :about_creator, class: 'form-control' %>
              </div>
            </div>

            <div class='col-md-9 col-md-offset-3'>
              <%= form.submit "Update Movement", class: 'btn btn-primary' %>
            </div>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "social/share", locals: { text: @text= t('movement.share') } %>
  </div>

  <div class='row'>
    <%= render "movements/media_form"%>
    <div class='col-md-7'>
      <div class='well'>
        <legend>Coordinator Controls</legend>
        <%= link_to "Publish", publish_movement_path(@movement), class: 'btn btn-m btn-success' unless @movement.published?%>
        <%= link_to "Movement Profile", movement_path(@movement), class: "btn btn-xs btn-primary" %>
        <%= link_to "Create new movement", new_movement_path, class: "btn btn-default btn-xs" %>
        <%= link_to "Invite More Coordinators", new_user_invitation_path, { class: 'btn btn-xs btn-success' } %>
        <%= link_to "Export Attendee List", export_csv_path(@movement), class: 'btn btn-xs btn-success' %>
        <%= render "movements/email" %>
      </div>
    </div>
  </div>
</div>


