.tab-pane#support
  .well
    %h3
      =t('.coordinators')
    %table.table.table-bordered.table-striped.sortable#group-attendees-table
      %tr
        %th
          =t('.name_cl')
        %th
          =t('.group_cl')
        %th
          =t('.email_cl')
        %th
          =t('.phone_number')
      - @groups.each do |group|
        - group.ownerships.each do |ownership|
          %tr
            %td= ownership.user.full_name
            %td= link_to group.name, movement_path(group)
            %td= ownership.user.email
            %td= ownership.user.phone

    = link_to t('.export_coordinators'), export_coordinators_csv_path(@group), class: 'btn ctrl-btn'
    = link_to_modal t('.invite_coordinators'), new_user_invitation_path({mvmt_id: @group.id}), class: 'btn ctrl-btn'
    %br
    %br

    %h3
      =t('.hosts')
    %table.table.table-bordered.table-striped.sortable#group-attendees-table
      %tr
        %th
          =t('.name_cl')
        %th
          =t('.event_cl')
        %th
          =t('.email_cl')
        %th
          =t('.phone_number')
      - events.each do |event|
        %tr
          %td= event.host.full_name
          %td= link_to event.name, event_path(event)
          %td= event.host.email
          %td= event.host.phone

    = link_to t('.export_hosts'), export_hosts_csv_path(@group), class: 'btn ctrl-btn'
    = link_to_modal t('.email_hosts'), new_coordinator_hosts_msg_path(@group), class: 'btn ctrl-btn'
    %br
    %br

    %h3
      =t('.attendees')
    %table.table.table-bordered.table-striped.sortable#group-attendees-table
      %tr
        %th
          =t('.name_cl')
        %th
          =t('.event_cl')
        %th
          =t('.email_cl')
        %th
          =t('.phone_number')
      - events.each do |event|
        - event.attendees.each do |attendee|
          %tr
            %td= attendee.full_name
            %td= link_to(event.name, event_path(event))
            %td= attendee.email if attendee.volunteer_for(event) || current_user.super_admin?
            %td= attendee.phone if attendee.volunteer_for(event) || current_user.super_admin?

    = link_to t('.export_attendees'), export_csv_path(@group), class: 'btn ctrl-btn'
    = link_to_modal t('.email_attendees'), new_coordinator_attendee_msg_path(@group),  class: 'btn ctrl-btn'
    = link_to t('.export_all'), export_all_csv_path(@group), class: 'btn ctrl-btn' if current_user.super_admin?
