.tab-pane#support
  .well
    %h3
      =t('.coordinators')
    %table.table.table-bordered.table-striped.sortable#group-attendees-table
      %tr
        %th
          =t('.name_cl')
        %th
          =t('.group_cl')
        %th
          =t('.email_cl')
        %th
          =t('.phone_number')
      - @groups.each do |group|
        - group.ownerships.each do |ownership|
          %tr
            %td= ownership.user.name
            %td= link_to group.name, movement_path(group)
            %td= ownership.user.email
            %td= ownership.user.phone

    %h3
      =t('.hosts')
    %table.table.table-bordered.table-striped.sortable#group-attendees-table
      %tr
        %th
          =t('.name_cl')
        %th
          =t('.event_cl')
        %th
          =t('.email_cl')
        %th
          =t('.phone_number')
      - @group.events.each do |event|
        %tr
          %td= event.host.name
          %td= link_to event.name, event_path(event)
          %td= event.host.email
          %td= event.host.phone

    %h3
      =t('.attendees')
    %table.table.table-bordered.table-striped.sortable#group-attendees-table
      %tr
        %th
          =t('.name_cl')
        %th
          =t('.event')
        %th
          =t('.email_cl')
        %th
          =t('.phone_number')
        %th
          =t('.point_person')
      - @group.events.each do |event|
        - event.attendees.each do |attendee|
          %tr
            %td= attendee.name
            %td= link_to event.name, event_path(event)
            %td= attendee.email
            %td= attendee.phone
            %td= attendee.volunteer_for(event) ? "yes" : "no"

= link_to_modal t('.invite_coordinators'), new_user_invitation_path({mvmt_id: @group.id}), { class: 'btn ctrl-btn' }
= link_to t('.export_attendees'), export_csv_path(@group), class: 'btn ctrl-btn'
= render "movements/email_modal"
= render "movements/email_hosts_modal"
