<div class='tab-content tab-pane' id='movement'>
  <div class= col-md-5>
    <div class='well'>
      <div class='form-horizontal'> 
        <%= form_for @movement do |form| %>
          <fieldset>
          <div class='form-group'>
            <%= form.label :name, class: 'col-md-4 control-label' %>
            <div class='col-md-8'>
              <%= form.text_field :name, class: 'form-control' %>
            </div>
          </div>

          <div class='form-group'>
            <%= form.label :story, class: 'col-md-4 control-label' %>
            <div class='col-md-8'>
              <%= form.text_area :story, class: 'form-control' %>
            </div>
          </div>

          <div class='form-group'>
            <%= form.label :category, class: 'col-md-4 control-label' %>
            <div class='col-md-8'>
              <%= form.text_field :category, class: 'form-control' %>
            </div>
          </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>

    <%= render "email" %>      
    <%= render "share" %>
    <%= link_to("Invite More Coordinators", new_user_invitation_path) %>

  <div>
    Rallies
  </div>

  <%= render "media_form" %>
</div>


