<div class='tab-pane' id='rallies'>
  <div class='well'>
    <h1>Rallies</h1>
    <%= render template: 'rallies/new' %>
    <% @movement.movement_rallies.each do |rally| %>
        <%= form_for :rally do |f| %>
          <%= f.label :address %>
          <%= f.text_field :address, value: rally.address %>
          <%= f.label :city %>
          <%= f.text_field :city, value: rally.city %>
          <%= f.label :zip %>
          <%= f.text_field :zip, value: rally.zip %>
          <%= f.label :notes %>
          <%= f.text_field :notes, value: rally.notes %>
          <%= f.submit "Update", class: "btn" %> 
        <% end %>
        <%= button_tag "Yes! I want to attend", type: "button", class: "btn btn-success attend-button" %>
        <%= render template: 'attendees/new', locals: { :@rally => rally, :@attendee => @rally.attendees.build } %>
    <% end %>
  </div>
</div>


