<div class='tab-content tab-pane' id='movement'>
  <div class='row'>
    <div class= col-md-5>
      <div class='well'>
        <div class='form-horizontal'> 
          <%= form_for @movement do |form| %>
            <fieldset>
            <div class='form-group'>
              <%= form.label :name, class: 'col-md-3 control-label' %>
              <div class='col-md-9'>
                <%= form.text_field :name, class: 'form-control' %>
              </div>
            </div>

            <div class='form-group'>
              <%= form.label :tagline, class: 'col-md-3 control-label' %>
              <div class='col-md-9'>
                <%= form.text_area :tagline, class: 'form-control' %>
              </div>
            </div>

            <div class='form-group'>
              <%= form.label :call_to_action, class: 'col-md-3 control-label' %>
              <div class='col-md-9'>
                <%= form.text_area :call_to_action, class: 'form-control' %>
              </div>
            </div>

            <div class='form-group'>
              <%= form.label :extended_description, class: 'col-md-3 control-label' %>
              <div class='col-md-9'>
                <%= form.text_area :extended_description, class: 'form-control' %>
              </div>
            </div>

            <div class='form-group'>
              <%= form.label :category, class: 'col-md-3 control-label' %>
              <div class='col-md-9'>
                <%= form.text_field :category, class: 'form-control' %>
              </div>
            </div>

            <div class='col-md-9 col-md-offset-3'>
              <%= form.submit "Update Movement", class: 'btn btn-primary' %>
            </div>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "social/share" %>
  </div>

  <div class='row'>
    <%= render "media_form" %>
    <div class='col-md-7'>
      <div class='well'>
        <legend>Coordinator Controls</legend>
        <%= link_to "Review my all movements", user_movements_path, { class: 'h4 panel-title panel-heading' } %>
        <%= render "email" %>      
        <%= link_to "Invite More Coordinators", new_user_invitation_path, { class: 'h4 panel-title panel-heading' } %>
        <%= link_to "Export Attendee List", export_csv_path(@movement), class: 'btn' %>
      </div>
    </div>
  </div>
</div>


