.tab-pane#attendees
  .well
    %table.table.table-bordered.table-striped
      %tr
        %th Location 
        %th Date
        %th Details 
        %th See Attendees
      - @movement.events.each do |event|
        %tr
          %td= event.location
          %td Date TBD
          %td= event.notes
          %td 
            %button.btn{type: "button", data: {toggle: "collapse", target: "#event#{event.id}"}}
              Attendees 
              %span.glyphicon.glyphicon-hand-down
        %tr.collapse{id: "event#{event.id}"}
          %td{colspan: "4"}
            %table.table.table-bordered.table-striped
              %tr
                %th Name
                %th Email
                %th Point person?
                %th Notes
              - event.attendees.each do |attendee|
                %tr
                  %td= attendee.name
                  %td= attendee.email
                  %td= attendee.assignments.count > 0 ? "yes" : "no"
                  %td= attendee.notes
              


