.tab-pane#events
	.well
		.panel.panel-default
			.panel-body
				%table.table.table-bordered.table-striped.sortable
					%tr
						%th Event Name
						%th When
						%th Where
						%th Organized By
						%th Description
					- @group.events.each do |event|
						%tr
							%td= link_to event.name, my_events_path(:name => {:id => event.id})
							%td= event.formatted_time
							%td= event.location
							%td= event.movement.name
							%td= event.description
