<div class='tab-pane' id='rallies'>
  <div class='well'>
    <legend>Rallies</legend>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <div class='form-inline'>
          <% @movement.movement_rallies.each do |rally| %>
            <%= form_for :rally do |f| %>
              <fieldset>
              <div class='form-group'>
                <%= f.label :address, class: 'control-label' %>
                <%= f.text_field :address, value: rally.address, class: 'form-control' %>
              </div>

              <div class='form-group'>
                <%= f.label :city, class: 'control-label' %>
                <%= f.text_field :city, value: rally.city, class: 'form-control' %>
              </div>

              <div class='form-group'>
                <%= f.label :zip, class: 'control-label' %>
                <%= f.text_field :zip, value: rally.zip, class: 'form-control' %>
              </div>
            
              <div class='form-group'>
                <%= f.label :notes, class: 'control-label' %>
                <%= f.text_field :notes, value: rally.notes, class: 'form-control' %>
              </div>

              <%= f.submit "Update", class: "btn btn-primary" %> 
              </fieldset>
            <% end %>
            <%= button_tag "Yes! I want to attend", type: "button", class: "btn btn-success attend-button" %>
            <%= render template: 'attendees/new', locals: { :rally => rally, :attendee => @rally.attendees.build } %>
            <%= render 'rallies/email_rally', rally: rally, movement: @movement %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render template: 'rallies/new' %>
</div>
