#group.tab-content.tab-pane
  .row
    .col-md-12
      .well
        .form-horizontal
          %h2= link_to group.name, movement_path(group)
          = form_for group, html: { id: 'edit-group-form' } do |form|
            %fieldset
              .form-group
                = form.label :name, t('.name') + ' * ',class: 'col-md-3 control-label'
                .col-md-9
                  = form.text_field :name, class: 'form-control'
              .form-group
                = form.label :tagline,  t('.tagline'), class: 'col-md-3 control-label'
                .col-md-9
                  = form.text_area :tagline, class: 'form-control'
              .form-group
                = form.label :call_to_action,  t('.call_to_action'), class: 'col-md-3 control-label'
                .col-md-9
                  = form.text_area :call_to_action, class: 'form-control'
              .form-group
                = form.label :extended_description,  t('.extended_description'), class: 'col-md-3 control-label'
                .col-md-9
                  = form.text_area :extended_description, class: 'form-control'
              .form-group
                = form.label :location,  t('.location'), class: 'col-md-3 control-label'
                .col-md-9
                  = form.text_area :location, class: 'form-control', placeholder: "e.g. Global, International, National.."
              .form-group
                = form.label :about_creator, t('.about_creator'), class: 'col-md-3 control-label'
                .col-md-9
                  = form.text_area :about_creator, class: 'form-control'
              .form-group
                = form.label :website, class: 'col-md-3 control-label'
                .col-md-9
                  = form.text_area :website, class: 'form-control'
              .form-group
                = form.label :flickr, class: 'col-md-3 control-label'
                .col-md-9
                  = form.text_field :flickr, class: 'form-control'
              - if current_user.super_admin?
                .form-group
                  = form.label :sponsored, class: 'col-md-3 control-label'
                  .col-md-9
                    = form.check_box :sponsored, class: 'form-control'
              .form-group
                = form.label :avatar, class: 'col-md-3 control-label'
                .col-md-9
                  = image_tag group.avatar, { class: 'front-page img-responsive' }
                  = form.file_field :avatar
              .form-group
                = form.label :video, class: 'col-md-3 control-label'
                .col-md-9
                  = youtube_embed_url_for_(group.video)
                  = form.text_field :video, class: 'form-control', placeholder: 'Paste a youtube embed link here!'
              .col-md-9.col-md-offset-3
                = form.submit t('.update_movement'), class: 'btn btn-right btn-host'
              - if group.name != 'Congo Week' && group.events.empty?
                .col-md-9.col-md-offset-3
                  = link_to t('.delete_team'), movement_path(group.id), class: 'btn btn-right btn-delete', method: 'delete', data: {confirm: (t('.confirm_delete_team') + "#{group.name}?")}