<ul id="movementTabs" class="nav nav-tabs" style="margin-bottom: 15px;">
  <li> <a href="#movement" data-toggle='tab'> Movement </a> </li>
  <li> <a href="#events" data-toggle="tab"> Events </a> </li>
  <li> <a href='#attendee-events' data-toggle='tab'>Attendee-Events</a> </li>
  <li> <a href='#tasks' data-toggle='tab'>Tasks </a> </li>
  <li> <a href='#attendees' data-toggle='tab'>Attendees </a> </li>
  <li> <a href='#successes' data-toggle='tab'>Successes </a> </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in" id="movement">
    <%= render "tab_movement" %>
  </div>
  <div class="tab-pane fade in" id="events"> 
    <%= render "tab_events" %>
  </div>
  <div class="tab-pane fade in" id="attendee-events"> 
    <%= render "tab_attendee_events" %>
  </div>
  <div class="tab-pane fade in" id="tasks"> 
    <%= render "tab_tasks" %>
  </div>
  <div class="tab-pane fade in" id="attendees">
    <%= render "tab_attendees" %>
  </div>
  <div class="tab-pane fade in" id="successes"> 
    <%= render "tab_successes" %>
  </div>
</div>
