=image_tag Movement.first.image, class: "bg"
.container
  .well
    %h4.event_type_header Let's Get Started by Picking an Event Type
    - @event_types.each do |event_type|
      - if current_user
        %div= link_to event_type, new_movement_event_path(@movement, {type: event_type}), :id => "#{event_type.downcase.gsub(' ', '_')}", :class => "btn btn-info btn-block btn-lg",
          :rel=> "tooltip", :title => EVENT_DESCRIPTIONS["event_type"]["#{event_type.downcase.gsub(' ', '_')}"]["short_description"]
      - else
        = link_to event_type, new_movement_unauthenticated_event_path(@movement, {type: event_type }), :class => "btn btn-info btn-block btn-lg",
          :rel=> "tooltip", :title => EVENT_DESCRIPTIONS["event_type"]["#{event_type.downcase.gsub(' ', '_')}"]["short_description"]
