<div class='row'>
  <div class='col-md-5'>
    <div class='well'>
      <div class='form-horizontal'>
        <%= form_for @movement do |form| %>
          <fieldset>
          <div class='form-group'>
            <%= form.label :name, { class: 'col-md-4 control-label' } %> 
            <div class='col-md-8'>
              <%= form.text_field :name, { class: 'form-control' } %>
            </div>
          </div>

          <div class='form-group'>
            <%= form.label :category, { class: 'col-md-4 control-label' } %>
            <div class='col-md-8'>
              <%= form.select :category, options_for_select(%w[Politics Animals]), {class: 'form-control'}, {class: 'form-control'} %>
            </div>
          </div>
        
          <div class='form-group'>
            <%= form.label :tagline, { class: 'col-md-4 control-label' } %>
            <div class='col-md-8'>
              <%= form.text_area :tagline, { class: 'form-control' } %>
            </div>
          </div>

          <div class='form-group'>
            <%= form.label :call_to_action, { class: 'col-md-4 control-label' } %>
            <div class='col-md-8'>
              <%= form.text_area :call_to_action, { class: 'form-control' } %>
            </div>
          </div>

          <div class='form-group'>
            <%= form.label :extended_description, { class: 'col-md-4 control-label' } %>
            <div class='col-md-8'>
              <%= form.text_area :extended_description, { class: 'form-control' } %>
            </div>
          </div>

          <div class='form-group'>
            <%= form.label :image, { class: 'col-md-4 control-label' } %>
            <div class='col-md-8'>
              <%= form.file_field :image %>
            </div>
          </div>

          <div class='form-group'> 
            <%= form.label :video, "Youtube Link", { class: 'col-md-4 control-label' } %>
            <div class='col-md-8'>
              <%= form.text_field :video, { class: 'form-control' } %>
            </div>
          </div>

          <div class='form group'> 
            <div class='col-md-8 col-md-offset-4'>
              <%= form.submit 'Create Movement', class: "btn btn-primary" %>
            </div>
          </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>

  <div class='col-md-7'>
    <h1>It's time to create a movement.</h1>
    <h4>Once you enter the relevant details, you'll be able to create events for your supporters to attend. Your events will be searchable via the home page.</h4>
  </div>
</div>
