=image_tag Movement.first.image, class: "bg"
= render 'new_group_validations'
.container.no-header{:style => "width: 800px;"}
  .row
    .col-md-4
      %h2
        =t('.thanks_msg')
      %h4
        =t('.explanation_msg')

    .col-md-7
      .well
        .form-horizontal
          = form_for @movement do |form|
            %fieldset
              .form-group
                = form.label :name, t('.name') + ' * ', { class: 'col-md-4 control-label' }
                .col-md-8
                  = form.text_field :name, { class: 'form-control', :maxlength => 100, placeholder: "Friends of the Congo" }
              .form-group
                = form.label :phone, t('.phone'), { class: 'col-md-4 control-label' }
                .col-md-8
                  = form.text_field :phone, { class: 'form-control' , placeholder: "333-123-4567"}
              .form-group
                = form.label :tagline, t('.tagline'), { class: 'col-md-4 control-label' }
                .col-md-8
                  = form.text_area :tagline, { class: 'form-control' , placeholder: "#CongoWeek" }
              .form-group
                = form.label :website, t('.website'), { class: 'col-md-4 control-label' }
                .col-md-8
                  = form.text_field :website, { class: 'form-control', placeholder: "www.website.com"}
              .form-group
                = form.label :avatar, t('.avatar'), { class: 'col-md-4 control-label' }
                .col-md-8
                  = form.file_field :avatar
              .form-group
                = form.label :flickr, { class: 'col-md-4 control-label' }
                .col-md-8
                  = form.text_field :flickr, { class: 'form-control' }
              .form-group
                = form.label :video, t('.youtube_link'), { class: 'col-md-4 control-label' }
                .col-md-8
                  = form.text_field :video, { class: 'form-control' }
              = form.hidden_field :parent_id, value:  params[:parent_id]
              .form-group
                .col-md-8.col-md-offset-4
                  = link_to t('movements.new.cancel_btn'), :back, class: "btn btn-cancel"
                  = form.submit t('.create_btn'), class: "btn btn-success", id: "create_movement"



