=image_tag Movement.first.image, class: "bg"
= render 'new_group_validations'
- if @movement.errors.any?
  .flash.alert.alert-alert
    = @movement.errors.full_messages.last
.container.no-header
  .row
    .col-md-4
      %h2
        =t('.thanks_msg')
      %h4
        =t('.explanation_msg')

    .col-md-7
      .well
        .form-horizontal
          = form_for @movement do |form|
            %fieldset
              .form-group
                = form.label :name, t('.name') + ' * ', { class: 'col-md-4 control-label' }
                .col-md-8
                  = form.text_field :name, { class: 'form-control', :maxlength => 100, placeholder: "Friends of the Congo" }
              .form-group
                = form.label :extended_description, t('.extended_description') + '*',  { class: 'col-md-4 control-label' }
                .col-md-8
                  = form.text_area :extended_description, { class: 'form-control', rows: "6"}
              .form-group
                = form.label :website, t('.website'), { class: 'col-md-4 control-label' }
                .col-md-8
                  = form.text_field :website, { class: 'form-control', placeholder: "www.website.com"}
              .form-group
                = form.label :avatar, t('.avatar'), { class: 'col-md-4 control-label' }
                .col-md-8
                  = form.file_field :avatar
                .col-md-8
                  %p#avatar-size
                    =t('.avatar_size')
              .form-group
                = form.label :flickr, { class: 'col-md-4 control-label' }
                .col-md-8
                  = form.text_field :flickr, { class: 'form-control' }
              .form-group
                = form.label :video, t('.youtube_link'), { class: 'col-md-4 control-label' }
                .col-md-8
                  = form.text_field :video, { class: 'form-control' }
              = form.hidden_field :parent_id, value:  params[:parent_id]
              .form-group
                .col-md-8.col-md-offset-4
                  = link_to t('movements.new.cancel_btn'), :back, class: "btn btn-cancel"
                  = form.submit t('.create_btn'), class: "btn btn-success", id: "create_movement"



