=image_tag "nopeacenolife.jpg", class: "bg"
%div.page-wrap.wrapper
  %h2.text-center
    = link_to t('.congo_week_2014')
  %h4
    = link_to t('.congo_description')
  %br
  %h3.text-center
    = link_to t('.join_congo')
  .row
    .col-sm-6
      = link_to t('.host_event'), movement_events_path(Movement.first), class: 'btn search btn-host'
    .col-sm-6
      = link_to t('.attend_event'), movement_events_path(Movement.first), class: 'btn search btn-host'
  %br
  .row
    .col-sm-12
      = link_to t('.learn_more'), mission_path, :target => '_blank', class: 'btn btn-host'
  %br
    %h4
    = link_to t('.congo_start')
    .count-down
  %br
