=image_tag Movement.first.image, class: "bg"
= content_for :head do
  %meta{property: "og:title", content: @movement.name}
  %meta{property: "og:url", content: request.original_url}
  %meta{property: "og:image", content: @movement.image}

= content_for :title, @movement.name
%div.content-header.container
  %h2.text-center.header-text= @movement.name
.container
  .col-sm-4
    -if @movement.sponsored
      %a.sponsor-link{href: ""}
        %img.sponsor-img{alt: "", src: asset_path( @movement.avatar)}/
        %ins.ins
    -else
      =image_tag @movement.avatar, class: "movement_avatar"
    .spacer10
    .row
      = link_to t('.host_event') , event_type_movement_path(@movement), class: 'btn search btn-host'
    .row
      .spacer10
    .row
      -unless current_user && current_user.member_for?(@movement.id)
        = link_to_modal t('.join_team'), join_team_movement_path(@movement), class: "btn btn-host"
    .row
      .spacer10
    .row
      =link_to_modal t('.contact_group_coordinator'), new_mvmt_contact_path(@movement), class: "btn btn-contact"
    -unless !@movement.tagline || @movement.tagline.empty?
      %hr
      .tagline= @movement.tagline
    - unless !@movement.website || @movement.website.empty? || @movement.website == "http://"
      %hr
      =link_to @movement.website, @movement.website, :target => '_blank'
    - unless !@movement.about_creator || @movement.about_creator.empty?
      %hr
      %h4
        =t('.about_creators')
      = @movement.about_creator
    -unless !@movement.flickr || @movement.flickr.empty?
      %hr
      %a.embedly-card{href: "#{@movement.flickr}"}
        :javascript
          !function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b,d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}}(document);
    -unless !@movement.video || @movement.video.empty?
      %hr
      =youtube_embed_url_for_(@movement.video)

  .col-sm-8
    .row
      =render "social/rrssb"
    .row
      -unless !@movement.events || @movement.events.empty?
        .row
          %h2
            =t('.upcoming_events')
          = render partial: 'events/event_small', collection: @movement.events.public_events, as: :event
      -else
        .row
          %h2
            =t('.no_upcoming_events')

