<div class='tabbable'>
  <ul class="nav nav-tabs">
    <li class='active'><a href='#movement' data-toggle='tab'>Movement</a></li>
    <li><a href='#rallies' data-toggle='tab'>Rallies</a></li>
    <li><a href='#tasks' data-toggle='tab'>Tasks</a></li>
    <li><a href='#successes' data-toggle='tab'>Successes</a></li>
  </ul>
  <div class='tab-content'>
    <div class='tab-pane active' id='movement'>
      <div class='well'>
        Your Movement Information
          <%= form_for @movement do |form| %>
            <%= form.label :name %>
            <%= form.text_field :name %>
            <%= form.label :story %>
            <%= form.text_area :story %>
            <%= form.label :category %>
            <%= form.text_field :category %>
          <% end %>

        <div>
          Share
          <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[title]=#"
      target="_blank"> <%= image_tag "facebook.png", :class=> "thumbnail",  size: "100x100" %>
          </a>
         
          <a href="http://twitter.com/share?text=#">
            <%= image_tag "twitter.png", :class=> "thumbnail", size: "100x100" %>
          </a>

          <a href="mailto:#">
            <%= image_tag "envelope.png", :class=> "thumbnail", size: "100x100" %>
          </a>
          <%= link_to("Invite More Coordinators", new_user_invitation_path) %>
        </div>

        <div>
          Rallies
        </div>

        <div>
          Media
            
          <%= form_for @movement do |form| %>
            <%= form.label :image %>
            <%= image_tag @movement.image.url, size: "490x275" %>
            <%= form.file_field :image %>
            <%= form.label :video %>
            <%= youtube_embed_url_for_(@movement.video) %>
            <%= form.text_field :video %>
            <%= form.submit %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='tab-pane' id='rallies'>
      <div class='well'>
        <h1>Rallies</h1>
        <%= link_to "Create a new Rally", new_movement_rally_path(@movement) %>
      </div>
    </div>
    <div class='tab-pane' id='tasks'>
      <div class='well'>
        <h1>Tasks</h1>
        <%= link_to "Movement tasks configuration", movement_tasks_path(@movement) %>
      </div>
    </div>
    <div class='tab-pane' id='successes'>
      <div class='well'>
        Successes will go here.
      </div>
    </div>
  </div>
</div>
