= content_for :title, @movement.name
.container
  .row
    = image_tag @movement.image, class: "movement_avatar"
  .row
    .col-sm-6
      =image_tag @movement.image, class: "movement_avatar"
    .col-sm-6
      .row
        %h3.text-center= @movement.name
        .tagline.text-center= @movement.tagline
        %br
        - if @movement.about_creator
          %h4 About the Creators
          = @movement.about_creator
      .row
        .col-xs-12
          .text-center
            .btn JOIN
      .row
        .spacer10
  .row
    %h2 Events
  -@movement.events.each do |event|
    .event-list.row
      .col-sm-4
        = link_to image_tag(event.image, class: "event_avatar"), event_path(event)
      .col-sm-8
        .event-data
          .row
            %h3= link_to event.name, event_path(event)
            %p.lead 
              Event Type:
              = event.type

          .row
            .col-xs-6
              = link_to "ATTEND", new_attendee_user_path({:event => event.id}), class: "btn event-buttons"

            .col-xs-6
              = link_to "VOLUNTEER", new_attendee_user_path({:event => event.id}), class: "btn event-buttons" 

          .row
            .event-datetime
              Start Time: 
              =event.start_time
              %br
              End Time: 
              =event.end_time
            .location
              Location: 
              =event.location
              = link_to "(map)",  "http://maps.google.com?q= #{event.location}",target: "_blank"
 
