.container
  .movement.row
    = image_tag @movement.image(:medium), width: 200, class: "movement-avatar"
    .movement_info
      %h1
        = @movement.name
      %h2{:class=> "tagline"}= @movement.tagline

      - if current_user && @movement.users.include?(current_user)
        = link_to @movement.name + "'s Dashboard", dashboard_movement_path(@movement, anchor: "movement"), :class=> "btn btn-success btn-sm"
      %h3= @movement.call_to_action

    - if @movement.about_creator
      %h4 About the Movement Creators
      = @movement.about_creator

    =render 'movement_video'

  .event.row
    %h3 Events:
    .row
      - @approved_events.each do |event|
        - if event.approved
          = render partial: 'events/panel', locals: {event: event}
    .row
      .col-md-12

        %h4 Want to see more activity on this issue? Apply to host an event and we will be in touch!
        = render 'create_event_button'

