= content_for :title, @movement.name
.container
  .row
    = image_tag @movement.image, class: "movement_avatar"
  .row
    .col-sm-6
      =image_tag @movement.image, class: "movement_avatar"
      =render "social/addthis_share"
    .col-sm-6
      .row
        %h3.text-center= @movement.name
        .tagline.text-center= @movement.tagline
        %br
        - if @movement.about_creator
          %h4 About the Creators
          = @movement.about_creator
      .row
        .col-xs-12
          .text-center
            - if current_user
              = link_to "CREATE AN EVENT", event_type_movement_path(@movement), class: "btn"
            - else
              = link_to "CREATE AN EVENT", new_movement_unauthenticated_event_path(@movement), class: "btn"
      .row
        .spacer10
      .row
        .col-xs-12
          .text-center
            =link_to_modal 'CONTACT ORGANIZER', new_mvmt_contact_path(@movement), class: "btn"
      .row
        .spacer10
  .row
    - unless @movement.events.empty?
      %h2 Events

  = render partial: 'events/event', collection: @movement.events, as: :event

