= content_for :title, @movement.name
.container
  .row
    = image_tag asset_path("fotc_banner_#{I18n.locale}.jpg"),:class => "movement_avatar"
  .row
    .col-sm-6.events-button
      = link_to movement_events_path(@movement),  class: 'events-button' do
        .events-btn-img
    .col-sm-6.network-button
      = link_to support_network_movement_path(@movement), class: 'network-button' do
        .network-btn-img