= content_for :title, @movement.name
.container
  .row
    = image_tag @movement.image, class: "movement_avatar"
  .row
    .col-sm-6
      =image_tag @movement.image, class: "movement_avatar"
    .col-sm-6
      .row
        %h3.text-center= @movement.name
        .tagline.text-center= @movement.tagline
        %br
        - if @movement.about_creator
          %h4 About the Creators
          = @movement.about_creator
      .row
        .col-xs-6
          .text-center
            .btn JOIN
        .col-xs-6
          .text-center= link_to "EVENTS", movement_events_path(@movement), class: 'btn'
      .row
        .spacer10
 
