<h1> Movement overivew page </h1>

<% if current_user && @movement.user == current_user %>
  <p class="text-info pull-right">
    Would like to update movement's information? - Go to <%= link_to "Coordinator's dashboard", dashboard_movement_path(@movement) %>
  </p>                                               
<% end %>

<h2><%= @movement.name %></h2>
Our Story:
<div class="well"><h4> <%= @movement.story %> </h4>
  <%= image_tag @movement.image, width: 200, :class=>"pull-right" %>
</div>
<%=youtube_embed_url_for_(@movement.video) %>

<h4>Which event type would you like to create? </h4>
<ul class="nav nav-pills nav-stacked">
     <span class="btn-info badge"> Rally </span>
     <span class="btn-info badge"> Public Speak-Out/Petitioning Event </span>
     <span class="btn-info badge"> Host a Movie Screening </span>
     <span class="btn-info badge"> Public Forums </span>
     <span class="btn-info badge"> Meet with Decision-Makers </span>
     <span class="btn-info badge"> Create your own event </span>
</ul>

