%div
  %div.fadein
    =image_tag "home3.jpg", class: "slideshow-pic"
    =image_tag "home4.jpg", class: "slideshow-pic"
    =image_tag "home5.jpg", class: "slideshow-pic"
    =image_tag "home8.jpg", class: "slideshow-pic"
    =image_tag "home2.jpg", class: "slideshow-pic"
    =image_tag "home6.jpg", class: "slideshow-pic"
    =image_tag "home7.jpg", class: "slideshow-pic"


  %div.search-area
    %div.page-container.row-full-height
      %div.intro-area.row.row-table.row-full-height.text-center
        %div.text-center.col-middle
          %h1.home-text.header-text
            =link_to t('.congo_week_2014'), "http://www.social.congoevents.org/"
          %div.h4.field.subtitle-text
            = t('.congo_description').upcase
          %div.row-space-bottom
            =link_to t('.join_congo').upcase, mission_path, class: 'btn btn-max btn-host'

      %div.bottom-search-area
        %div.col-md-12#align-home
          %div.subtitle-text.label-field
            = t('.find_event')
            = form_tag movement_events_path(@movement), method: :get do
              = hidden_field_tag :home, 'true'
              = text_field_tag 'zip', value = nil, id: 'query', :maxlength => 25, placeholder: 'City, State or Zipcode', class: "upcoming-font"
              %input{name: "search", class: 'query-btn', src: asset_path("glass.jpeg"), type: "image"}
          %div
            = link_to t('events.home_host_btn').upcase , event_type_movement_path(Movement.first), class: 'btn search btn-host'

%div.panel.panel-dark
  %div.page-container.row-full-height
    %div.text-center.row-space-top
      %h2.strong.upcoming-events
        = t('.upcoming_events')
      %p.upcoming-font
        = t('.support')
    %div.row-space-top
      %div.carousel-responsive
        - @public_events.each do |event|
          %div.carousel-pic.lighten
            = link_to image_tag(event.image, class: "carousel-pic"), event_path(event)
            .h4.events-subtitle.upcoming-font
              = "#{event.name}"

        %script{:src => "//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.min.js", :type => "text/javascript"}
