<% if current_user && @movement.user == current_user %>
  <p class="text-info pull-right">
    Update movement information on the <%= link_to "Coordinator's dashboard", dashboard_movement_path(@movement, anchor: "movement") %>
  </p>                                               
<% end %>

<%= link_to "Create new movement", new_movement_path, class: "btn btn-primary btn-xs" %>

<h1><%= @movement.name %></h1>
<h4> <%= @movement.tagline %> </h4>
<h4> <%= @movement.call_to_action %> </h4>
<h4> <%= @movement.extended_description %> </h4>
<%= image_tag @movement.image, width: 200, :class=>"pull-right" %>

<%=youtube_embed_url_for_(@movement.video) %>
<br>
Search for an event near you!  Enter your zip code:
<%= form_tag "/search", method: "get", class: 'form-inline', id: 'zip-form' do %>
  <div class='form-group'>
    <%= search_field_tag 'zip', value = nil, options = {placeholder: "ZIP", class: 'form-control'}%>
    <%= hidden_field_tag 'id', value = @movement.id %>
  </div>
  <div class='form-group'>
    <%= button_tag name="Search", class: 'btn btn-default' %>
  </div>
<% end %>

<div class='row'>
  <h3> Events: </h3>
  <% @events.each do |event| %>

  <% if event.approved %>
  <div class="col-md-3">
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='text-center'><%= event.name %></h3>
        <p class="text-info small text-right">Type: <%= event.event_type %></p>
      </div>
  
      <div class='panel-footer'>
        <div class='text-left'>
          <p class="lead text-right"><%= event.number_of_attendees %> Attendees</p>
          <p>Location: <%= event.city %></p>
          <p>Time: TBD</p>
          <p>Organizer: <%= event.coordinator_name || event.coordinator_email %> </p>
          <p>Summary:<em> <%= event.tagline %> </em> </p>
          </div>
            <%= button_tag "Yes! I want to attend", type: "button", class: "btn btn-success btn-sm attend-button" %>
            <%= render template: 'attendees/new', locals: { :event => event, :attendee => event.attendees.build } %>
          </div>
        </div>
      </div>
    <% end %>
<% end %>
</div>

<h4>Want to create your own event?</h4>
<ul class="nav nav-pills nav-stacked">
  <%= link_to "Rally", new_movement_event_path(@movement, {type: "rally"}), :class=>"btn-info badge",
      :rel=>"tooltip", :title=> EVENT_DESCRIPTIONS["event_type"]["rally"]["short_description"] %>
  <%= link_to "Speak Out", new_movement_event_path(@movement, {type: "public_speak_out"}), :class=>"btn-info badge",
      :rel=>"tooltip", :title=> EVENT_DESCRIPTIONS["event_type"]["public_speak_out"]["short_description"] %>
  <%= link_to "Movie Screening", new_movement_event_path(@movement, {type: "movie_screening"}), :class=>"btn-info badge",
      :rel=>"tooltip", :title=> EVENT_DESCRIPTIONS["event_type"]["movie_screening"]["short_description"] %>
  <%= link_to "Public Forum", new_movement_event_path(@movement, {type: "public_forums"}), :class=>"btn-info badge",
      :rel=>"tooltip", :title=> EVENT_DESCRIPTIONS["event_type"]["public_forums"]["short_description"] %>
  <%= link_to "Decision-Maker Meeting", new_movement_event_path(@movement, {type: "meet_with_decision_makers"}), :class=>"btn-info badge",
      :rel=>"tooltip", :title=> EVENT_DESCRIPTIONS["event_type"]["meet_with_decision_makers"]["short_description"] %>
  <%= link_to "Planning Meetings", new_movement_event_path(@movement, {type: "planning_meetings"}), :class=>"btn-info badge",
      :rel=>"tooltip", :title=> EVENT_DESCRIPTIONS["event_type"]["planning_meetings"]["short_description"] %>
  <%= link_to "Custom Event", new_movement_event_path(@movement, {type: "own_event"}), :class=>"btn-primary badge",
      :rel=>"tooltip", :title=> EVENT_DESCRIPTIONS["event_type"]["own_event"]["short_description"] %>
</ul>

<br>
<br>

