<h1> Movement overivew page </h1>

<% if current_user && @movement.user == current_user %>
  <p class="text-info pull-right">
    Would like to update movement's information? - Go to <%= link_to "Coordinator's dashboard", dashboard_movement_path(@movement) %>
  </p>                                               
<% end %>

<h2><%= @movement.name %></h2>
Our Story:
<div class="well"><h4> <%= @movement.story %> </h4>
  <%= image_tag @movement.image, width: 200, :class=>"pull-right" %>
</div>

<%=youtube_embed_url_for_(@movement.video) %>

<h4>Which event type would you like to create? </h4>
<ul class="nav nav-pills nav-stacked">
     <%= link_to "Rally", new_movement_event_path(@movement, {type: "rally"}), :class=>"btn-info badge" %>
     <%= link_to "Public Speak-Out/Petitioning Event", new_movement_event_path(@movement, {type: "public_speak_out"}), :class=>"btn-info badge" %>
     <%= link_to "Host a Movie Screening", new_movement_event_path(@movement, {type: "movie_screening"}), :class=>"btn-info badge" %>
     <%= link_to "Public Forums ", new_movement_event_path(@movement, {type: "public_forums"}), :class=>"btn-info badge" %>
     <%= link_to "Meet with Decision-Makers ", new_movement_event_path(@movement, {type: "meet_with_decision_makers"}), :class=>"btn-info badge" %>
     <%= link_to "Create your own event", new_movement_event_path(@movement, {type: "own_event"}), :class=>"btn-primary badge" %>
</ul>

