= content_for :title, @movement.name
.container
  .banner
    = image_tag asset_path("fotc_banner.jpg"),:class => "movement_avatar"
    %iframe{:class => "final_countdown", :src => "#{@countdown_urls[I18n.locale]}"}
  %h1.home-quote
    = t('.h1')
  .info
    = t('.quote')
  .home_btns
    .col-sm-6.events-button
      = link_to (image_tag asset_path("events-btn_#{I18n.locale}.jpg"), :class => 'events-button'), movement_events_path(@movement)
    .col-sm-6.network-button
      = link_to (image_tag asset_path("networks-btn_#{I18n.locale}.jpg"), :class => 'network-button'),support_network_movement_path(@movement)