<div>
	Coordinator Tab 

  Your Movement Information
  	<%= form_for @movement do |form| %>
  	  <%= form.label :name %>
  	  <%= form.text_field :name %>
  	  <%= form.label :story %>
  	  <%= form.text_area :story %>
  	  <%= form.label :category %>
  	  <%= form.text_field :category %>
    <% end %>

    <%= link_to("Invite More Coordinators", new_user_invitation_path) %> 
	<div>
		Share
    <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[title]=#"
      target="_blank"> <%= image_tag "facebook.png", :class=> "thumbnail",  size: "100x100" %>
    </a>
   
    <a href="http://twitter.com/share?text=#">
      <%= image_tag "twitter.png", :class=> "thumbnail", size: "100x100" %>
    </a>

    <a href="mailto:#">
      <%= image_tag "envelope.png", :class=> "thumbnail", size: "100x100" %>
    </a>
	</div>

  <div>
    Rallies
  </div>

  <div>
    Media
			
  	<%= form_for @movement do |form| %>
  	  <%= form.label :image %>
  	  <%= image_tag @movement.image.url, size: "490x275" %>
	    <%= form.file_field :image %>

  	  <%= form.label :video %>
      <%= youtube_embed_url_for_(@movement.video) %>
    	<%= form.text_field :video %>

      <%= form.submit %>
  	<% end %>
  </div>

</div>

<div>
  Rallies Tab
  <%= link_to "Create a new Rally", new_movement_rally_path(@movement) %>
</div>

<div>
  Tasks Tab
  <%= link_to "Movement tasks configuration", movement_tasks_path(@movement) %>
</div>
<div>
  Success Tab
</div>
