<% if current_user.movements.any? %>
  <h3>You have <%= @movements.count %> movements </h3>
    <%= render @movements %>
<% end %> 

<% if current_user.host_for_nonapproved_events? %>
  <% current_user.nonapproved_events.each do |event| %>
  <p>Coordinator of the <%= link_to event.movement.name, movement_path(@movement) %> did not approve your event yet</p>
     <%= link_to event.name, event_path(event)%>
     <%= event.inspect %>
  <%end%>
<%end%>
