.container
	%strong=t('movements.show.quote')
	%br
	%br

	%h3=t('.header1')
	%p= t('.background')
	%br

	%h3=t('.header2')
	%p
		= t('.purpose')
		%strong= t('.cw-date')
	%br
	%h3=t('.header3')
	%p
		= t('.get-involved1')
		%strong=t('.date')
		%strong= link_to t('.link'), movement_events_path(Movement.first)
		= t('.get-involved2')
	%br
	%strong
		= t('.view_template')
		= link_to  t('.link'), template_path


