=image_tag Movement.first.image, class: "bg"
%div.content-header.container
	%h2.text-center.header-text Congo Week
.container
	%strong=t('movements.show.quote')
	%br
	%br

	%h3=t('.header1')
	%p= t('.background')
	%br

	%h3=t('.header2')
	%p
		= t('.purpose')
		%strong= t('.cw_date')
	%br
	%h3=t('.header3')
	%p
		= t('.get_involved1')
		%strong=t('.date')
		%strong= link_to t('.link'), movement_events_path(Movement.first)
		= t('.get_involved2')
	%br
	%strong
		= t('.view_template')
		= link_to  t('.link'), template_path
	%br
	%br
		%strong= t('.organizer_toolkit')
		%strong= link_to t('.link'), organizer_toolkit_path
	.row
		.col-sm-6
			= link_to t('.host_event') , event_type_movement_path(Movement.first), class: 'btn search btn-host'
		.col-sm-6
			= link_to t('.attend_event'), movement_events_path(Movement.first), class: 'btn search btn-host'


