<div class='well'>
  <legend>Create an <em><%= params[:type]%></em> event!</legend>

<% if params[:type]%>
  <%= EVENT_DESCRIPTIONS["event_type"]["#{params[:type].downcase.gsub(' ', '_')}"]["full_description"]%>
<% end%>

  <%= form_tag movement_unauthenticated_events_path do %>
    <div class='form-group'>
      <div class="form-inline event-date">
      <%= label :event, :event_type_id %>
      <% if params[:type].nil? %>
        <%= select :event, :event_type, EventType.all.map(&:name), class: 'form-control' %>
      <%else%>
        <%= select :event, :event_type, EventType.all.map(&:name), {:selected => params[:type] }, {class: 'form-control'} %>
      <%end%>

    <%= label :event, :event_name %>
    <%= text_field :event, :name %>
    </div>
    </div>

    <div class='form-group'>
    <%= label :event, :address %>
    <%= text_field :event, :address %>
    </div>

    <div class='form-group'>
    <%= label :event, :location_details %>
    <%= text_field :event, :location_details %>
    </div>

    <div class='form-group'>
      <div class="form-inline event-date">
    <%= label :event, :city %>
    <%= text_field :event, :city %>

    <%= label :event, :zip %>
    <%= text_field :event, :zip%>
    </div>
    </div>
 
    <div class='form-group'>
      <%= label :event, "When:" %>
      <div class="form-inline event-date">
        <%= text_field :event, :date, class: 'form-control datepicker' %>
        <%= text_field :event, :time, class: 'form-control timepicker' %>
      </div>
    </div>

    <h3> Sign up to create an event</h3>
    <div class='form-group'>
    <%= label :user, :name %>
    <%= text_field :user, :name%>
    </div>

    <div class='form-group'>
    <%= label :user, :email %>
    <%= email_field :user, :email %>
    </div>

    <div class='form-group'>
      <div class="form-inline event-date">
    <%= label :user, :password %>
    <%= password_field :user, :password %>

    <%= label :user, :password_confirmation %>
    <%= password_field :user, :password_confirmation %>
    </div>
    </div>

    <%= submit_tag "Create a user and event", class: 'btn btn-primary' %>
  <%end%>  
</div>

