.container
  .row
    .col-md-10.col-md-offset-1
      .well
        = form_tag movement_unauthenticated_events_path, id: 'new-event-form', method: :post, multipart: true do
          %fieldset
            %fieldset.event_details
              %legend= t("events.new.legend1")
              .form-group.col-sm-12
                = label :event, :name, t("events.edit.name") + " *"
                = text_field :event, :name, class: 'form-control'
              .form-group.col-sm-12
                = label :event, :description, t("events.description") + " *"
                = text_field :event, :description, class: 'form-control'
              .event-date-time
                .form-group.col-sm-4
                  = label :event, :start_time, t("events.edit.start_date") + " *"
                  = text_field :event, :start_time, class: "form-control datetimepicker datetimepicker-#{I18n.locale}"
                .form-group.col-sm-4
                  = label :event, :end_time,  t("events.edit.end_date")
                  = text_field :event, :end_time, class: "form-control datetimepicker datetimepicker-#{I18n.locale}"
              .form-group.col-sm-4
                = label :event, :time_tbd, "Time To Be Determined"
                = check_box :event, :time_tbd, {}, true, false
              %legend=  t("events.new.address")
              .row
                .form-group.col-sm-6
                  = label :event, :address, t("events.edit.address1")
                  = text_field :event, :address, class: 'form-control'
                .form-group.col-sm-6
                  = label :event, :address2, t("events.edit.address2")
                  = text_field :event, :address2, class: 'form-control'
              .row
                .form-group.col-sm-6
                  = label :event,:city, t("events.edit.city") + " *"
                  = text_field :event,:city, class: 'form-control'
                .form-group.col-sm-6
                  = label :event,:state, t("events.edit.state")
                  = text_field :event,:state, class: 'form-control'
              .row
                .form-group.col-sm-6
                  = label :event,:zip, t("events.edit.zip")
                  = text_field :event,:zip, class: 'form-control'
                .form-group.col-sm-6
                  = label :event, :country, t('events.edit.country') + " *"
                  = country_select :event, :country, prompt: 'Please select a country', class: 'form-control'
              .form-group.col-sm-12
                = label :event, :location_tbd, "Address To Be Determined"
                = check_box :event, :location_tbd, {}, true, false
              .form-group.col-sm-12
                = label :event,:location_details, t("events.location")
                = text_field :event,:location_details, placeholder: t("events.new.location_placeholder"), class: 'form-control'
              %button{type: "button", class: "btn btn-success next"}= t("events.new.next")
            %fieldset.event_additional_details
              %legend= t("events.new.legend2")
              .form-group
                = label :event,:image
                = file_field :event, :image, class: 'form-control'
              .form-group
                = label :event, :notes, t("events.new.msg_to_attendees")
                = text_field :event, :notes, class: 'form-control'
              .form-group
                = label :event, :type_id, t("events.new.event_type") + " *"
                = select :event, :event_type, EventType.all.map(&:name), class: 'form-control'
              .form-group
                - unless @movement.sub_movements.empty?
                  = label :event,:movement, t("events.new.event_chapter_msg")
                  = select :event, :movement, @movement.sub_movements.map(&:name), {include_blank: ""}, {class: 'form-control'}
                - if @movement.parent
                  = label :event,:movement, t("events.new.event_chapter_msg")
                  = select :event, :movement, @movement.parent.sub_movements.map(&:name), {selected: @movement.name, include_blank: ""}, {class: 'form-control'}
              .form-group
                = label :event,:forum_option, t("events.new.forum_msg")
                = check_box :event,:forum_option, class: 'form-control'
              .form-group
                %button{type: "button", class: "btn btn-primary previous"}= t("events.new.previous")
                %button{type: "button", class: "btn btn-success next"}= t("events.new.next")
            %fieldset.event_additional_details
              %legend= t("events.new.legend3")
              .row
                .form-group.col-xs-6
                  = label :user, :name,  t("events.new.name") + " *"
                  = text_field :user, :name, class: 'form-control'
                .form-group.col-xs-6
                  = label :user, :surname,  t("events.new.surname") + " *"
                  = text_field :user, :surname, class: 'form-control'
              .form-group
                = label :user, :email, t("events.new.email") + " *"
                = email_field :user, :email, class: 'form-control'
              .form-group
                = label :user, :phone, t("events.new.phone")
                = phone_field :user, :phone, class: 'form-control'
              .form-group
                = label :user, :password, t("events.new.password") + " *"
                = password_field :user, :password, class: 'form-control'
              .form-group
                = label :user, :password_confirmation, t("events.new.password_confirmation") + " *"
                = password_field :user, :password_confirmation, class: 'form-control'
              .form-group
                %button{type: "button", class: "btn btn-primary previous"}= t("events.new.previous")
                = submit_tag t("events.new.create_btn"), class: 'btn btn-success', id: 'create_event'
