.container-fluid
  .col-sm-12
    %legend
      Create your
      %em= params[:type]
      !

  .col-sm-12
    - if params[:type]
      = EVENT_DESCRIPTIONS["event_type"]["#{params[:type].downcase.gsub(' ', '_')}"]["full_description"]

  = form_tag movement_unauthenticated_events_path, id: 'new_event' do
    .form-group.col-sm-6
      = label :event, :event_type_id
      - if params[:type].nil?
        = select :event, :event_type, EventType.all.map(&:name), class: 'form-control'
      - else
        = select :event, :event_type, EventType.all.map(&:name), {:selected => params[:type] }, {class: 'form-control'}

    .form-group.col-sm-6
      = label :event, :event_name, "Event Name *"
      = text_field :event, :name,  class: 'form-control'

    .form-group.col-sm-6
      = label :event, :address, "Address *"
      = text_field :event, :address, class: 'form-control'

    .form-group.col-sm-6
      = label :event, :location_details
      = text_field :event, :location_details, class: 'form-control'

    .form-group.col-sm-6
      = label :event, :city
      = text_field :event, :city, class: 'form-control'

    .form-group.col-sm-6
      = label :event, :zip, "Zip *"
      = text_field :event, :zip, class: 'form-control'

    .form-group.col-sm-6
      .input-group
        %span.input-group-addon Start Time:
        = datetime_select :event, :start_time

    .form-group.col-sm-6
      .input-group
        %span.input-group-addon End Time:
        = datetime_select :event, :end_time

    %h3.col-sm-12 Sign up to create an event

    .form-group.col-sm-6
      = label :user, :name
      = text_field :user, :name, class: 'form-control'

    .form-group.col-sm-6
      = label :user, :email
      = email_field :user, :email, class: 'form-control'

    .form-group.col-sm-6
      = label :user, :password
      = password_field :user, :password, class: 'form-control'

    .form-group.col-sm-6
      = label :user, :password_confirmation
      = password_field :user, :password_confirmation, class: 'form-control'

    = submit_tag "Create a user and event", class: 'btn btn-primary col-sm-12'

