= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, id: 'edit-user-details' }) do |f|
  = devise_error_messages!
  %div
    .row
      .col-xs-6
        = f.label :name, t('.name') + " *"
        %br/
        = f.text_field :name, class: 'form-control', :maxlength => 35
      .col-xs-6
        = f.label :surname, t('.surname') + " *"
        %br/
        = f.text_field :surname, class: 'form-control', :maxlength => 35
  %br/
  %div
    = f.label :email, t('.email') + " *"
    %br/
    = f.text_field :email, class: 'form-control'
  %br/
  %div
    = f.label :phone, t('.phone')
    %br/
    = f.text_field :phone, class: 'form-control'
  %br/
  %div
    = f.check_box :textable
    = f.label :textable, t('.textable')
  %br/
  %br/
  %br/
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div= t('.confirmation_msg', unconfirmed_email: resource.unconfirmed_email)
  %div
    = f.label :current_password, t('.current_pass') + " *"
    %i= t('.pass_msg')
    %br/
    = f.password_field :current_password, class: 'form-control'
  %br/
  %div
    = f.label :password, t('.pass')
    %i= t('.blank_msg')
    %br/
    = f.password_field :password, class: 'form-control', :autocomplete => "off"
  %div
    = f.label :password_confirmation, t('.pass_confirm')
    %br/
    = f.password_field :password_confirmation, class: 'form-control'
  %br/
  %div{:style => 'max-width: 20%'}
    = f.submit t('.update'), class: 'btn btn-attend'
  %br/
