Hello, <%= @attendee.name.capitalize %>

Welcome to Shift Engage.

Thank you for volunteering for <%= @event.name %> <br><br>

You have signed up for <%= @task.description %>

You can find out more about <%= @event.name %> by clicking <a href="<%= event_url(@event) %>">here</a>.

We are looking forward to seeing you at the event.

Best of Luck!
Friends of The Congo
