Hello, #{@recipient.name}

Welcome to Shift Engage.

Thank you for signing up for an event with #{@event.movement.name}
%br/
%br/
Your event details are below:
%br/
Name: #{@event.name}
%br/
Address: #{@event.address}
%br/
City: #{@event.city}
%br/
Zip: #{@event.zip}
%br/
Date: #{@event.start_date}
%br/
Start Time: #{@event.start_time_formatted}
%br/
End Time: #{@event.end_time_formatted}
%br/
You can find out more about #{@event.name} by clicking
= succeed "." do
  %a{href: event_path(@event, {:locale => I18n.locale}) } here
%br/
You'r password is:
= @password
Best of Luck!
Friends of The Congo
