<% event.tasks.each do |task| %>
  <%= div_for task do %>
    <li>
      <% if task.is_allowed_to_update_by? current_user %>
        <%= link_to raw('<i class="glyphicon glyphicon-remove-circle"></i>') , event_task_path(event, task.id), method: :delete,
          data: { confirm: "You sure about deleting task '#{task.description}'?"}, remote: true  %>
        <%= best_in_place task, :description, :path=>[event, task], :type=> :input, :html_attrs => {:class=>"input"} %>
      <% end %>
    </li>
  <% end%>
<% end %>

<% if ((event.movement.users.include? current_user) || (event.host? current_user)) %>
  <h3>Add a new task to this event:</h4>
  <%= form_for ([event, @task=Task.new]), remote: true, html: {class: "form-inline", id: "new_task#{event.id}"} do |f| %>
    <%= f.text_area :description, placeholder: "Add a new task description here..." %>
     <%= f.submit "CREATE NEW TASK", :class=>"btn" %>
  <% end %>
<% end %>
