<h4>Add a new task to a movement:</h4>
<%= form_for ([@movement, @task=Task.new]), remote: true, html: {class: "form-inline"} do |f| %>
  <%= f.text_area :description, placeholder: "Enter new task description here..." %>
  <%= f.check_box :small_event %>
  <%= f.label "small", :small_event %>
  <%= f.check_box :medium_event %>
  <%= f.label "medium", :medium_event %>
  <%= f.check_box :big_event %>
  <%= f.label "big", :big_event %>
  <% if @movement.user == current_user %> 
    <%= f.submit "Create new task", :class=>"btn btn-success" %>
  <% else %>
    <%= f.submit "Create new task", :class=>"btn btn-success", :disabled=>true %> 
  <% end %>    
<% end %>
