<%= div_for task do %>
  <li>
    <% if current_user && (task.is_allowed_to_update_by? current_user) %>
      <%= link_to raw('<i class="glyphicon glyphicon-remove-circle"></i>') , event_task_path(event, task.id), method: :delete,
        data: { confirm: "You sure about deleting task '#{task.description}'?"}, remote: true  %>
      <%= best_in_place task, :description, :path=>[event, task], :type=> :input, :html_attrs => {:class=>"input"} %>
    <% elsif current_user && (task.is_not_assigned_to? current_user)  %>
      <%= link_to "Sign up", assign_event_task_path(event, task), :class=>"btn btn-default btn-xs", remote: true %>
      <%= task.description %>
    <%elsif current_user && (task.is_assigned_to? current_user) %>
      <%= link_to "Signed up", assign_event_task_path(event, task), :class=>"btn btn-success btn-xs", :disabled => true %>
      <%= task.description %>
    <%else%>  
      <%= task.description %>
    <% end %>
  </li>
<% end%>
