.tab-pane#tasks
  .well
    %table.table.table-bordered.table-striped.sortable#task-table
      %tr
        %th Task (click to Edit)
        %th Volunteers
        %th Delete
      - event.tasks.uniq.each do |task|
        %tr{id: "task_row_#{task.id}"}
          %td= best_in_place task, :description, :path=>[event, task], type: :input, html_attrs: {class: "input"}
          %td
            %button.btn{type: "button", data: {toggle: "collapse", target: "#task#{task.id}"}}
              Volunteers (#{task.volunteers.count})
              %span.glyphicon.glyphicon-hand-down
          %td= link_to raw('<i class="glyphicon glyphicon-remove"></i>') , event_task_path(event, task.id), method: :delete, data: { confirm: "You sure about deleting task '#{task.description}'?"}, remote: true
        %tr.collapse{id: "task#{task.id}"}
          %td{colspan: "4"}
            %table.table.table-bordered.table-striped.sortable#task-attendee-table
              %tr
                %th Name
                %th Email
                %th Notes
                %th Date Signed Up
              - task.volunteers.each do |volunteer|
                %tr
                  %td= volunteer.name
                  %td= volunteer.email
                  %td= volunteer.notes_for(event.id)
                  %td= volunteer.date_signed_up_for(task)

- if ((event.movement.users.include? current_user) || (event.host? current_user))
  %hr
  %h3 ADD NEW TASK:
  = form_for ([event, @task=Task.new]), remote: true, html: {class: "form-group", id: "new_task#{event.id}"} do |f|
    .row
      .col-xs-8= f.text_area :description, placeholder: "Add a new task description here...", class: "form-control", rows: "3"
      .col-xs-4= f.submit "CREATE NEW TASK", :class=>"btn"








