= div_for task do
  - if task.is_not_assigned_to? current_user
    = link_to t('tasks.sign_up'), assign_event_task_path(event, task), :class=>"btn btn-default btn-xs", remote: true
    = task.description
  - elsif task.is_assigned_to? current_user
    = link_to t('tasks.signed_up'), assign_event_task_path(event, task), :class=>"btn btn-success btn-xs", :disabled => true
    = task.description
  - else
    = task.description

