.tab-pane#tasks
  .well
    %table.table.table-bordered.table-striped.sortable#task-table
      %tr
        %th Task (click to Edit)
        %th Volunteers
        %th Delete
      - event.tasks.uniq.each do |task|
        = render partial: "tasks/task_row", locals: {task: task, event: event}

- if ((event.movement.users.include? current_user) || (event.host? current_user))
  %hr
  %h3 ADD NEW TASK:
  = form_for ([event, @task=Task.new]), remote: true, html: {class: "form-group", id: "new_task#{event.id}"} do |f|
    .row
      .col-xs-8= f.text_area :description, placeholder: "Add a new task description here...", class: "form-control", rows: "3"
      .col-xs-4= f.submit "CREATE NEW TASK", :class=>"btn"








