<% @movement.events.each do |event| %>
  <div class="well">
    <h2> Event: <%= event.name %>, Type: <%= event.event_type %> </h2>
    <h3> Tasks for Small Events </h3>
      <% event.tasks_for("small_event").each do |task| %>
        <%= render "tasks/task", task: task, event: event %>
      <% end %>
    <h3> Tasks for Medium Events </h3>
      <% event.tasks_for("medium_event").each do |task| %>
        <%= render "tasks/task", task: task, event: event %>
      <% end %>
    <h3> Tasks for Big Events </h3>
      <% event.tasks_for("big_event").each do |task| %>
        <%= render "tasks/task", task: task, event: event %>
      <% end %>
    <%= render "tasks/form", event: event %> 
  </div>
<% end %>
