<h3>Movement contains <%= @movement.count_movement_tasks %> unique tasks</h3>

<h4>Small Event Tasks</h4>
<div id="small_event">(1-5 attendees)</div>
<%= render @tasks = @movement.tasks_for(:small_event) %>

<h4>Medium Event Tasks</h4>  
<div id="medium_event">(6-14 attendees)</div>
<%= render @tasks = @movement.tasks_for(:medium_event) %>

<h4>Large Event Tasks</h4>  
<div id="big_event">(14-50 attendees)</div>
<%= render @tasks = @movement.tasks_for(:big_event) %>

<%= render 'tasks/form' %>

