<h3>Movement contains <%= @movement.count_movement_tasks %> unique tasks</h3>

<h4>Small Rally Tasks</h4>
<div id="small_rally">(1-5 attendees)</div>
<%= render @tasks = @movement.tasks_for(:small_rally) %>

<h4>Medium Rally Tasks</h4>  
<div id="medium_rally">(6-14 attendees)</div>
<%= render @tasks = @movement.tasks_for(:medium_rally) %>

<h4>Large Rally Tasks</h4>  
<div id="big_rally">(14-50 attendees)</div>
<%= render @tasks = @movement.tasks_for(:big_rally) %>

<%= render 'tasks/form' %>

