= form_for @user, method: "post", url: create_attendee_user_path, html: { id: 'attendee-form' } do |f|
  .panel-heading
    .panel-title
      %h3=t('.greeting', user_name: @user.full_name)
      %h4=t('.thanks_msg', event_name: @event.name)
      %h5
        =t('.not_user_msg')
        = link_to t('.here'), destroy_user_session_path, method: :delete
  .panel-body
    -if @user.phone && @user.phone.empty?
      .form-group.label-field
        = f.label t('.phone')
        = f.text_field :phone, class: "form-control"
      .form-group.label-field
        = f.check_box :textable
        = f.label :textable, t('.textable')

    .form-group
      = fields_for :attendance, @attendance do |a|
        = a.check_box :point_person
        = a.label t('.point')

      = f.hidden_field :event_id, value: @event.id
      = f.hidden_field :name, value: @user.name
      = f.hidden_field :email, value: @user.email

    .form-group
      = f.submit t('.sign_up'), class: "btn btn-info col-md-12"


  %p.text-info.small=t('.email_shared')
