= form_for @user, method: "post", url: create_attendee_user_path, html: { id: 'attendee-form' } do |f|
  .panel-heading
    .panel-title
      %h3 Hello #{@user.full_name},
      %h4 Thank you for signing up to attend #{@event.name}.
      %h5 If this is not you, click #{link_to 'here', destroy_user_session_path, method: :delete}
  .panel-body
    .form-group.label-field
      = f.label "Phone Number (optional):"
      = f.text_field :phone, class: "form-control"

    .form-group
      = fields_for :attendance, @attendance do |a|
        = a.label "I'd like to volunteer for this event!"
        = a.check_box :point_person

      = f.hidden_field :event_id, value: @event.id
      = f.hidden_field :name, value: @user.name
      = f.hidden_field :email, value: @user.email

    .form-group
      = f.submit "Sign me up!", class: "btn btn-info col-md-12"


  %p.text-info.small * Your email address will be shared with the event host.
