= form_for @user, method: "post", url: create_member_user_path, html: { id: 'member-form' } do |f|
  .panel-heading
    .panel-title
      %h3=t('.confirm_join', team_name: @team.name)
      %h4
        =t('.not_user_msg')
        = link_to t('.here'), destroy_user_session_path, method: :delete

    .form-group
      = f.hidden_field :team_id, value: @team.id
      = f.hidden_field :name, value: @user.name
      = f.hidden_field :email, value: @user.email

    .form-group
      = f.submit t('.join'), class: "btn btn-info col-md-12"
