= form_for @user, method: "post", url: create_member_user_path, html: { id: 'member-form' } do |f|
  .panel-heading
    .panel-title
      %h3= t('.more_info')
      %h5
        =t('.already_user')
        =link_to t('.sign_in'), new_session_path(:user), id: "sign-in"
  .panel-body
    .row
      .form-group.label-field.col-xs-6
        = f.label :name, t('.name')
        = f.text_field :name, class: "form-control"

      .form-group.label-field.col-xs-6
        = f.label :surname, t('.surname')
        = f.text_field :surname, class: "form-control"

    .form-group.label-field
      = f.label :phone
      = f.text_field :phone, class: "form-control"

    .form-group.label-field
      = f.check_box :textable
      = f.label :textable, t('.textable', team_name: @team.name)

    .form-group.label-field
      = f.label t('.email')
      = f.email_field :email, class: "form-control"

      = f.hidden_field :team_id, value: @team.id

    .form-group.label-field
      = f.hidden_field :team_id, value: @team.id

    .form-group
      = f.submit t('.sign_up'), class: "btn btn-info col-md-12"

  %p.text-info.small= t('.follow_up_msg')
