.container
  = form_for @user, method: "post", url: create_attendee_user_path do |f|
    .panel-heading
      .panel-title
        %h3 Please give us more information to sign up!
    .panel-body

      .form-group
        = f.label :name, 'Name*'
        = f.text_field :name, class: "form-control"

      .form-group
        = f.label :phone
        = f.text_field :phone, class: "form-control"

      .form-group
        = f.label 'Email*'
        = f.email_field :email, class: "form-control"

        = f.hidden_field :event_id, value: @event_id

      .form-group
        = fields_for :attendance, @attendance do |a|
          = a.label "I'd like to volunteer for this event!"
          = a.check_box :point_person

        = f.hidden_field :event_id, value: @event_id

      .form-group
        = f.submit "Sign me up!", class: "btn btn-info col-md-12"

    %p.text-info.small Expect to hear from the host with event updates
