<% if @rallies.length == 0 %>
  <div class='well'>
    No rallies were found near the zipcode you provided.
  </div>
<% else @rallies.each do |rally| %>
  <div class="col-md-3">
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <p class='text-center'><%= link_to rally.movement_name, movement_path(rally.movement) %></p> 
      </div>

      <div class='panel-body'>
        <%= link_to image_tag(rally.image.url, class: 'front-page img-responsive center-block'), movement_path(rally.movement) %>
      </div>

      <div class='panel-footer'>
        <div class='text-center'>
          <p><%= link_to rally.name, movement_rally_path(rally.movement, rally) %></p>
          <p>Location: <%= rally.location %></p>
          <p>Time: TBD</p>
          <p>Organizer: <%= rally.coordinator_name || rally.coordinator_email %> </p>
          <p>Summary:<em> <%= rally.story %> </em> </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
