<% if @rallies.length == 0 %>
  No rallies were found near the zipcode you provided.
<% else @rallies.each do |rally| %>
  <div class="well col-md-3">
    <%= image_tag rally.find_movement_image, size: "100x100" %><br>
    Movement Name: <%= rally.find_movement_name %> <br> 
    Rally Address: <%= rally.address %> <br>
    City: <%= rally.city %> <br>
    Zipcode: <%= rally.zip %> <br>
  </div>
<% end %>
<% end %>
