<%= form_for [@event, @attendee] do |f| %>
<div class="panel-heading">Please give us some more information to sign up!</div>

<div class="panel-footer">
  <div class="form-inline">

    <div class="form-group">
      <%= f.label :name%>
      <%= f.text_field :name, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :email%>
      <%= f.email_field :email, class: "form-control"%>
      <p class="text-info small">Your email address will be shared with the event host.<p>
    </div>

    <div class="form-group">
      <%= f.label "I'd like to help organize this event!" %>
      <%= f.check_box :point_person %>
    </div>
    
  </div>

    <%= f.submit "Submit my data", class: "btn btn-info"%>
  <% end%>
</div>
