.container
  = form_for [@event ||= event, @attendee ||= attendee] do |f|
    .panel-heading
      .panel-title
        %h3 Thanks for signing up! Please give us some more information so that we'll know how to contact you in case of event changes.
    .panel-body
  
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
  
      .form-group
        = f.label :phone_number
        = f.text_field :phone_number, class: "form-control"
  
      .form-group
        = f.label 'Email*'
        = f.email_field :email, class: "form-control"
  
      .form-group
        = f.label "I'll volunteer to help with this event!"
        = f.check_box :point_person
  
      .form-group
        = f.submit "Attend", class: "btn col-md-12"
