<%= link_to "about", about_path %>
<%= link_to "sign in devise", new_session_path(:user) %>
<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>

<h1>Make A Difference! <br>
Find a rally. </h1>

<%= form_tag "/rallies" do %>
  <%= search_field_tag 'zip', value = nil, options = {placeholder: "ZIP"}%>
  <%= button_tag name="search", type: "button" %>
<% end %>

<%= link_to "create a movement!", new_movement_path %>
