<h3>Events Created by Others</h3>
<% @movement.movement_events.select{|event| event.host != @movement.user}.each do |event| %>
  <div class='well <%= "approval-background" unless event.approved? %>' id="<%= "event#{event.id}"%>">
    <h4> Name: <%= event.name %> </h4>
    Location: <%= event.location %> <br>
    Message to attendees: <%= event.notes %> <br>
    Date: <%= event.date %> <br>
    Approved? <span id="<%= "approval_status#{event.id}" %>"><%= event.approved %> </span> <br>
    <%= link_to event.approved? ? 'Disapprove' : 'Approve', approve_path(event), method: :put, remote: true, id: "approve#{event.id}", class: "btn btn-primary" %>
  </div> 
<% end %>
