%div{class: "event-#{event.id}-details edit-event"}
  %h3= link_to "#{event.name}", event_path(event)
  %div{class: " edit_form event-#{event.id}"}
    = form_for event, html: { id: 'edit-event-form' } do |f|
      .form-group
        = f.label "Start date & time:"
        = f.text_field :start_time, class: 'form-control datetimepicker', value: event.start_time_formatted
      .form-group
        = f.label "End date & time:"
        = f.text_field :end_time, class: 'form-control datetimepicker', value: event.end_time_formatted
      .form-group
        = f.label "Name:"
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label "Address 1:"
        = f.text_field :address, class: 'form-control'
      .form-group
        = f.label "Address 2:"
        = f.text_field :address2, class: 'form-control'
      .form-group
        = f.label "Location Details:"
        = f.text_field :location_details, class: 'form-control'
      .form-group
        = f.label "City:"
        = f.text_field :city, class: 'form-control'
      .form-group
        = f.label "State:"
        = f.text_field :state, class: 'form-control'
      .form-group
        = f.label "Zip:"
        = f.text_field :zip, class: 'form-control'
      .form-group
        = f.label "Notes:"
        = f.text_field :notes, class: 'form-control'
      .form-group
        = f.label "Description:"
        = f.text_field :description, class: 'form-control'
      .form-group
        = f.label "Type:"
        = f.select :event_type, EventType.all.map(&:name), class: 'form-control', selected: event.type
      .form-group
        = f.label "Forum (Disqus):"
        = f.check_box :forum_option, class: 'float_right'
      .form-group
        = f.label "Flyer:"
        = image_tag event.flyer, class: 'front-page img-responsive'
        = f.file_field :flyer
      .form-group
        = f.label "Avatar:"
        = image_tag event.image, class: 'front-page img-responsive'
        %br/
        = f.file_field :image
        = f.submit "Update", class: 'btn btn-primary float_right'
        %br/
        %br
        %br
        = link_to "Cancel Event", event, method: :delete, data: { confirm: "Are you sure you want to delete this event?"}, remote: true, class:'btn btn-primary delete-btn '
      