.col-md-3
  .panel.panel-default
    .panel-heading
      %p.text-center= link_to event.movement.name, movement_path(event.movement), id: 'movement_name'
    .panel-body
      = link_to image_tag(event.image.url, class: 'front-page img-responsive center-block'), movement_path(event.movement)

    .panel-footer
      .text-left
        %p
          = link_to event.name, event_path(event)
          .lead.text-right= event.number_of_attendees.to_s + " Attendees"
        %p
          Location:
          = truncate( event.city, :length=>24 )
        %p
          When:
          = event.start_time.strftime("%b %e %Y, %l:%M %p") + " to " + event.end_time.strftime("%b %e %Y, %l:%M %p")
        %p
          Organizer:
          = truncate( event.host_name || event.host_email , :length=>20)
        %p
          Summary:
          %em= truncate( event.tagline , :length=>50)
      = link_to "Yes! I want to attend", new_event_attendee_path(event, @attendee=event.attendees.build), class: "btn btn-success btn-sm"

