<div class="col-md-3">
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <p class='text-center'><%= link_to event.movement_name, visitor_path(event.movement) %></p> 
    </div>

    <div class='panel-body'>
      <%= link_to image_tag(event.image.url, class: 'front-page img-responsive center-block'), movement_path(event.movement) %>
    </div>

    <div class='panel-footer'>
      <div class='text-left'>
        <p><%= link_to event.name, movement_events_path(event.movement, event) %>
           <p class="lead text-right"><%= event.number_of_attendees %> Attendees</p>
        </p>
        <p>Location: <%= event.city %></p>
        <p>Time: <%= event.time %></p>
        <p>Organizer: <%= event.host_name || event.host_email %> </p>
        <p>Summary:<em> <%= event.tagline %> </em> </p>
      </div>
      <%= link_to "Yes! I want to attend", new_event_attendee_path(event, @attendee=event.attendees.build), class: "btn btn-success btn-sm" %>
    </div>
  </div>
</div>
