.event-list.row
  .col-sm-4
    = link_to image_tag(event.image, class: "event_avatar"), event_path(event)
  .col-sm-8
    .event-data
      .row
        %h3= link_to event.name, event_path(event)
        %p.lead 
          Event Type:
          = event.type

      .row
        .col-xs-6
          = link_to "ATTEND", new_event_attendee_path(event), class: 'btn event-buttons'

      .row
        .event-datetime
          Start Time: 
          =event.start_time
          %br
          End Time: 
          =event.end_time
        .location
          Location: 
          =event.location
          = link_to "(map)",  "http://maps.google.com?q= #{event.location}",target: "_blank"

    .panel-footer
      .text-left
        %p
          = link_to event.name, event_path(event)
          .lead.text-right= event.number_of_attendees.to_s + " Attendees"
        %p
          Location:
          = truncate( event.city, :length=>24 )
        %p
          When:
          = event.start_time.strftime("%b %e %Y, %l:%M %p") + " to " + event.end_time.strftime("%b %e %Y, %l:%M %p")
        %p
          Organizer:
          = truncate( event.host_name || event.host_email , :length=>20)
        %p
          Summary:
          %em= truncate( event.tagline , :length=>50)

      - unless event.with_attendee? current_user
        = link_to "Yes! I want to attend!", new_attendee_user_path({:event => event.id}), {class: "btn btn-success btn-sm"}
