.event-list.row
  .col-sm-4
    = link_to image_tag(event.image, class: "event_avatar"), event_path(event)
  .col-sm-8
    .event-data
      .row
        %h3= link_to event.name, event_path(event)
      .row
        .col-sm-8
          %p.lead
            Event Type:
            = event.type
          .event-datetime
            When:
            =event.formatted_time
          .location
            Where:
            =event.location
            = link_to "(map)",  "http://maps.google.com?q= #{event.location}",target: "_blank"
        .col-xs-4
          = link_to "ATTEND", new_attendee_user_path({:event => event.id}), {class: "btn"}

        
