.col-md-4
  .event-panel.panel.panel-default
    = link_to image_tag(event.image.url, class: 'front-page img-movement'), event_path(event)
    %h3= link_to truncate(event.name, :length=>48), event_path(event)
    - if event.host? current_user
      .span= link_to "Dashboard", dashboard_event_path(event, anchor: "event"), :class=> "btn btn-success btn-sm"

    %p
      = event.number_of_attendees
      Attendees
    %br

    = event.location

    %br
    = event.formatted_time

    = link_to "Yes! I want to attend", new_event_attendee_path(event), class: "btn btn-success btn-sm"
