= content_for :head do
  %meta{property: "og:title", content: event.name}
  %meta{property: "og:url", content: request.original_url}
  %meta{property: "og:image", content: event.image}
.row.event-list.event
  .col-sm-4
    -if event.sponsored
      = link_to event_path(event) do
        %a.sponsor-link{href: event_path(event)}
          %img.sponsor-img{alt: "", src: asset_path(event.image)}/
          %ins.ins
    -else
      = link_to image_tag(event.image, class: "event_avatar"), event_path(event)
    .spacer10
  .col-sm-8
    %h3= link_to event.name, event_path(event)
  .col-sm-5.event-data
    %strong=  t('events.when')
    =event.formatted_time
    - unless !event.location_details || event.location_details.empty?
      .row
        .spacer10
        .spacer10
      %strong= t('events.location')
      = event.location_details
    .row
      .spacer10
      .spacer10
    %strong= t('events.where')
    =event.location
    = link_to "(map)",  "http://maps.google.com?q= #{event.location}",target: "_blank"
    .row
      .spacer10
      .spacer10
    - if event.movement && event.movement != Movement.first
      %strong= t('events.organized_by')
      =link_to event.movement.name, movement_path(event.movement)
    .row
      .spacer10
      .spacer10
    - unless event.description.nil?
      %strong= t('events.description')
      = event.description
  .col-sm-3.event-actions
    -unless event.attended_by? current_user
      = link_to_modal t('events.attend_btn'), new_attendee_user_path({:event => event.id}), {class: "btn btn-attend"}
      .row
        .spacer10
        .spacer10
    -unless event.host? current_user
      =link_to_modal t('events.contact_host_btn'), new_contact_path(event), {class: "btn btn-contact" }
