.event-list.row
  .col-sm-4
    = link_to image_tag(event.image, class: "event_avatar"), event_path(event)
  .col-sm-8
    .event-data
      .row
        %h3= link_to event.name, event_path(event)
        %p.lead
          Event Type:
          = event.type

      .row
        .col-xs-6
          = link_to "Yes! I want to attend!", new_attendee_user_path({:event => event.id}), {class: "btn btn-success btn-sm"}

      .row
        .event-datetime
          Start Time:
          =event.start_time
          %br
          End Time:
          =event.end_time
        .location
          Location:
          =event.location
          = link_to "(map)",  "http://maps.google.com?q= #{event.location}",target: "_blank"
