.well{id: "event#{event.id}", class: ("approval-background" unless event.approved?)}
  %h4
    Name:
    = link_to event.name, event_path(event)
  Type:
  = event.type
  %br
  Location:
  = event.location
  %br
  Message to attendees:
  = event.notes
  %br
  Approved:
  %span{id: "approval_status#{event.id}"}
    - case event.approved?
    - when true
      = "Yes"
    - when false
      = "No"
  %br
  = link_to event.approved? ? 'Disapprove' : 'Approve', approve_path(event), method: :put, remote: true, id: "approve#{event.id}", class: "btn btn-primary"
