.row{id: "event_#{event.id}"}
  .col-xs-4
    = link_to image_tag(event.image, class: "event-avatar"), event_path(event)
  .col-sm-4.event-data
    %h3= link_to event.name, event_path(event)
    %strong= t('events.when')
    =event.formatted_time
    .row
      .spacer10
      .spacer10
    %strong= t('events.where')
    =event.location
    = link_to "(map)",  "http://maps.google.com?q= #{event.location}",target: "_blank"

    - if !event.location_details.nil? && current_user
      .row
        .spacer10
        .spacer10
      %strong= t('events.location')
      = event.location_details
    .row
      .spacer10
      .spacer10
    %strong= t('events.organized_by')
    =link_to event.movement.name, movement_path(event.movement)
    .row
      .spacer10
      .spacer10
    - unless event.description.nil?
      %strong= t('events.description')
      = event.description.html_safe
  .col-sm-4.event-actions
    -unless event.host? current_user
      =link_to_modal t('events.contact_host_btn'), new_contact_path(event), {class: "btn btn-attend"}
    .row
      .spacer10
      .spacer10
    =link_to(t('events.unattend_btn'),  unattend_path(attendee_id: current_user.id, event_id: event.id), method: :put, remote: true, class: "btn btn-attend", id: "remove_attendance#{event.id}")
  .row{id: "tasks_for_event_#{event.id}"}
    .col-sm-12
      %h2=  t('events.tasks_signed_up')
      = render template: "tasks/show", locals: {event: event}
      = form_tag assign_volunteer_path(attendee_id: current_user.id, event_id: event.id), id: "assign_volunteer#{event.id}", method: :put, remote: true do
        = check_box :event, :assigned, checked: current_user.volunteer_for(event), onclick: "$('#assign_volunteer#{event.id}').submit()"
        = label_tag(t('events.volunteer_status'))
  %hr
