<div class="col-md-3">
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h3 class='text-center'><%= event.name %></h3>
      <p class="text-info small text-right">Type: <%= event.type %></p>
    </div>

    <div class='panel-footer'>
      <div class='text-left'>
        <p class="lead text-right"><%= event.number_of_attendees %> Attendees</p>
        <p>Location: <%= event.city %></p>
        <p>Time: TBD</p>
        <p>Organizer: <%= event.coordinator_name || event.coordinator_email %> </p>
        <p>Summary:<em> <%= event.tagline %> </em> </p>
      </div>
      <%= link_to "Yes! I want to attend", new_event_attendee_path(event), class: "btn btn-success btn-sm" %>
    </div>
  </div>
</div>

