.row{id: "event_#{event.id}"}
  %h3.text-center= link_to event.name, event_path(event)
  .row
    .col-sm-4
      = link_to image_tag(event.image, class: "event_avatar"), event_path(event)
    .col-sm-4.event-data
      %strong= t('events.when')
      =event.formatted_time
      %br
      %br
      %strong= t('events.where')
      =event.location
      = link_to "(map)",  "http://maps.google.com?q= #{event.location}",target: "_blank"

      - if !event.location_details.nil? && current_user
        %br
        %br
        %strong= t('events.location')
        = event.location_details
      %br
      %br
      %strong= t('events.organized_by')
      =link_to event.movement.name, movement_path(event.movement)
      %br
      %br
      - unless event.description.nil?
        %strong= t('events.description')
        = event.description
    .col-xs-4.text-center.event-actions
      -unless event.host? current_user
        =link_to_modal t('events.contact_host_btn'), new_contact_path(event), {class: "btn"}
      =link_to(t('events.unattend_btn'),  unattend_path(attendee_id: current_user.id, event_id: event.id), method: :put, remote: true, class: "btn", id: "remove_attendance#{event.id}")
      %br
      %br
      %h3= t('events.volunteer_status')
      =link_to( current_user.volunteer_for(event) ? "Y": "N", assign_volunteer_path(attendee_id: current_user.id, event_id: event.id), method: :put, remote: true, class: "check-box btn", id: "assign_volunteer#{event.id}")

    - unless current_user.volunteer_for(event)
      :javascript
        $("#tasks_for_event_\#{event.id}").addClass("hide");

    .row{id: "tasks_for_event_#{event.id}"}
      .col-sm-10
        %h2=  t('events.tasks_signed_up')
        = render template: "tasks/show", locals: {event: event}
  %hr

