.row{id: "event_#{event.id}"}
  %h3.text-center= link_to event.name, event_path(event)
  .row
    .col-sm-4
      = link_to image_tag(event.image, class: "event_avatar"), event_path(event)
    .col-sm-4.event-data
      %strong When:
      =event.formatted_time
      %br
      %br
      %strong Where:
      =event.location
      = link_to "(map)",  "http://maps.google.com?q= #{event.location}",target: "_blank"

      - if !event.location_details.nil? && current_user
        %br
        %br
        %strong Location Details:
        = event.location_details
      %br
      %br
      %strong Organized by:
      =link_to event.movement.name, movement_path(event.movement)
      %br
      %br
      - unless event.description.nil?
        %strong Description:
        = event.description
    .col-xs-4.text-center.event-actions
      -unless event.host? current_user
        =link_to_modal 'CONTACT HOST', new_contact_path(event), {class: "btn"}
      =link_to('UNATTEND EVENT',  unattend_path(attendee_id: current_user.id, event_id: event.id), method: :put, remote: true, class: "btn", id: "remove_attendance#{event.id}")
      %br
      %br
      %h3 VOLUNTEER STATUS
      =link_to( current_user.volunteer_for(event) ? "Y" : "N", assign_volunteer_path(attendee_id: current_user.id, event_id: event.id), method: :put, remote: true, class: "check-box btn", id: "assign_volunteer#{event.id}")

    - unless current_user.volunteer_for(event)
      :javascript
        $("#tasks_for_event_\#{event.id}").addClass("hide");

    .row{id: "tasks_for_event_#{event.id}"}
      .col-sm-10
        %h2 Tasks Signed Up For:
        = render template: "tasks/show", locals: {event: event}
  %hr

