.tab-pane#attendees
  .well
    %table.table.table-bordered.table-striped.sortable#attendee-table
      %tr
        %th= t('events.name')
        %th= t('events.email')
        %th= t('events.phone')
        %th= t('events.point')
        %th= t('events.notes')
      - event.attendees.each do |attendee|
        %tr
          %td= attendee.name
          %td= attendee.email
          %td= attendee.phone
          %td= link_to( attendee.volunteer_for(event) ? t('.yes') : t('.no'), assign_volunteer_path(attendee_id: attendee.id, event_id: event.id), method: :put, remote: true, class: "check-box btn", id: "assign_volunteer#{event.id}")
          %td= best_in_place attendee.attendance_for(event), :notes, :path=> attendance_path({event_id: event.id, attendee_id: attendee.id}), :type => :input, :html_attrs => {:class=>"input"}
= link_to t('.export_attendees'), export_event_attendees_path(event), class: 'btn ctrl-btn'
= link_to_modal t('.contact_attendees'), new_attendee_msg_path(event), class: "btn ctrl-btn"
