.container
  .row
    = image_tag image_url('congo_banner.jpg'), class: "movement_avatar"

  .row
    .col-sm-8

    .col-sm-2
      -if current_user
        = link_to 'CREATE AN EVENT', new_movement_event_path(@movement), class: 'btn search'
      -else
        = link_to "CREATE AN EVENT", new_movement_unauthenticated_event_path(@movement), class: 'btn'
  .row.event-list
    .form-inline.col-sm-12
      = form_tag movement_events_path, :method => :get, remote: true do
        = text_field_tag 'zip', value = nil, id: 'query', placeholder: "Search Events by City, State or Zip Code"
        %input{name: "search", class: 'query-btn', src: asset_path("glass.jpeg"), type: "image"}
  .row
    %h4#no-results  No events found nearby, check your search paramaters or #{current_user ? (link_to 'host your own event!', new_movement_event_path(@movement)) : (link_to "host your own event!", new_movement_unauthenticated_event_path(@movement))}
    #map-canvas

  %hr
  .event-list.events



