.container
  .row
    =link_to (image_tag asset_path("fotc_banner.jpg"),:class => "movement_avatar"), root_path

  .row.event-list
    .form-inline.col-md-6
      = t('events.search_placeholder')
      = form_tag movement_events_path, :method => :get, remote: true do
        = text_field_tag 'zip', value = nil, id: 'query'
        %input{name: "search", class: 'query-btn', src: asset_path("glass.jpeg"), type: "image"}
    .col-md-6
      -if current_user
        = link_to t('events.host_btn') , new_movement_event_path(@movement), class: 'btn search'
      -else
        = link_to t('events.host_btn') , new_movement_unauthenticated_event_path(@movement), class: 'btn search'
  .row
    %h4#no-results
      = t('events.no_events_msg')
      = current_user ? (link_to t('events.host_link'), new_movement_event_path(@movement)) : (link_to t('events.host_link'), new_movement_unauthenticated_event_path(@movement))
  .row
    .col-md-12
      #map-canvas
  .event-list.events
    = render partial: 'events/event', collection: @events, as: :event
