- content_for :head do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBbtk27nVgvIulQCz60VwgdY0rLBAXdwgg&sensor=false"

=image_tag Movement.first.image, class: "bg"
%div.content-header.container
  %h2.text-center.header-text=t('events.events')
.container
  .row
    .spacer10
    .form-inline.col-md-6
      = t('events.search_placeholder')
      = form_tag movement_events_path, method: :get, remote: true do
        = text_field_tag 'zip', value = nil, id: 'query', :maxlength => 25
        %input{name: "search", class: 'query-btn', src: asset_path("glass.jpeg"), type: "image"}
    .col-md-6
      = link_to t('events.host_btn') , event_type_movement_path(@movement), class: 'btn search btn-host'
  .row
    .spacer10
    %h4#no-results
      = t('events.no_events_msg')
      = current_user ? (link_to t('events.host_link'), new_movement_event_path(@movement)) : (link_to t('events.host_link'), new_movement_unauthenticated_event_path(@movement))
  .row
    .col-md-12
      #map-canvas
  .spacer10
  .events#upcoming_events
    %h2
      %strong=t('events.upcoming_events')
    .page
      = render @events

    = paginate @events
