- render :partial => 'shared/load_i18n_translations'
=image_tag Movement.first.image, class: "bg"
=content_for :title, t('events.dashboard.my_events')
.container.no-header
  %h2= t('events.dashboard.header')
  = form_tag my_events_path, :method => :get, remote: true do
    - if @event
      = select("name", "id", @events.collect {|e| [ e.name, e.id ]}, selected: @event.id)
    - else
      = select("name", "id", @events.collect {|e| [ e.name, e.id ]})
    = submit_tag t('events.show_btn'), class: "btn-small"
    %h3= t('events.dashboard.instructions')

    %ul#eventTabs.nav.nav-tabs{style: "margin-bottom: 15px;"}
      %li
        %a{href: '#event', data: {toggle: 'tab'}}= t('events.dashboard.tab_edit')
      %li
        %a{href: '#tasks', data: {toggle: 'tab'}}= t('events.dashboard.tab_tasks')
      %li
        %a{href: '#attendees', data: {toggle: 'tab'}}= t('events.dashboard.tab_attendees')
      -if current_user.coordinator?
        %li
          %a{href: '#event_type_images', data: {toggle: 'tab'}}= t('events.dashboard.tab_event_type_images')

  .tab-content
    .tab-pane.fade.in#event
      = render "tab_event", event: @event
    .tab-pane.fade.in#tasks
      = render "tab_tasks", event: @event
    .tab-pane.fade.in#attendees
      = render "tab_attendees", event: @event
    .tab-pane.fade.in#event_type_images
      = render "tab_event_type_images", event: @event
