.container
  .row
    .col-md-10.col-md-offset-1
      .well
        = form_for ([@movement, @event]), html: { id: 'new-event-form' } do |form|
          %fieldset
            %fieldset.event_details
              %legend Event Basic Information (1/2)
              .form-group
                = form.label :event_name, "Event Name *"
                = form.text_field :name, class: 'form-control'
              .form-group
                = form.label :event_description, "Event Description *"
                = form.text_field :description, class: 'form-control'
              .event-date-time
                .form-group
                  = form.label "Start date & time: *"
                  = form.text_field :start_time, class: 'form-control datetimepicker'
                .form-group
                  = form.label "End date & time:(optional)"
                  = form.text_field :end_time, class: 'form-control datetimepicker'
              %legend Event address
              .row
                .form-group.col-xs-6
                  = form.label :address, 'Address 1 *'
                  = form.text_field :address, class: 'form-control'
                .form-group.col-xs-6
                  = form.label :address2, 'Address 2'
                  = form.text_field :address2, class: 'form-control'
              .row
                .form-group.col-xs-5
                  = form.label :city, 'City *'
                  = form.text_field :city, class: 'form-control'
                .form-group.col-xs-2
                  = form.label :state, 'State *'
                  = form.text_field :state, class: 'form-control'
                .form-group.col-xs-5
                  = form.label :zip, 'Zip *'
                  = form.text_field :zip, class: 'form-control'
              .form-group
                = form.label :location_details
                = form.text_field :location_details, placeholder: "meet at the corner of Belmont & Sheridan", class: 'form-control'
              %button{type: "button", class: "btn btn-success next"} Next
            %fieldset.event_additional_details
              %legend Event details (2/2)
              .form-group
                = form.label :image
                = form.file_field :image
              .form-group
                = form.label 'Write a brief message to event attendees:'
                = form.text_field :notes, class: 'form-control'
              .form-group
                = form.label :event_type_id, 'Event Type *'
                = form.select :event_type, EventType.all.map(&:name), {class: 'form-control'}
              .form-group
                - unless @movement.sub_movements.empty?
                  = form.label :movement, 'If this event is associated with a chapter, please choose it here:'
                  = form.select :movement, @movement.sub_movements.map(&:name), {include_blank: ""}, {class: 'form-control'}
                - if @movement.parent
                  = form.label :movement, 'If this event is associated with a chapter, please choose it here:'
                  = form.select :movement, @movement.parent.sub_movements.map(&:name), {selected: @movement.name, include_blank: ""}, {class: 'form-control'}
              .form-group
                = form.label 'Include an attendee discussion forum on this event:'
                = form.check_box :forum_option, class: 'form-control'
              - if current_user
                = form.hidden_field :host_id, value: current_user.id
              .form-group
                %button{type: "button", class: "btn btn-primary previous"} Previous
                = form.submit 'CREATE EVENT', class: 'btn btn-success', id: 'create_event'