<div class='well'>

<% if params[:type]%>
  <legend>Create your <em><%= params[:type]%></em>!</legend>
  <% event_desc = 'event_type.' + params[:type].downcase.gsub(' ', '_') + '.full_description' %>
  <%= t(event_desc)%>
<%else%>
  <legend>Create your Event!</legend>
  <div class="event-description"><%= t('event_type.rally.full_description') %> </div>
<% end%>

  <%= form_for ([@movement, @event]) do |form| %>
    <fieldset>

    <div class='form-group'>
      <%= form.label :event_type_id %>
      <% if params[:type].nil? %>
        <%= form.select :event_type, EventType.all.map(&:name), {class: 'form-control'}, {class: 'form-control'} %>
      <%else%>
        <%= form.select :event_type, EventType.all.map(&:name), {:selected=>params[:type] }, {class: 'form-control'}%>
      <%end%>  
    </div>

    <div class='form-group'>
      <%= form.label :event_name %> 
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class='form-group'>     
      <%= form.label :address %> 
      <%= form.text_field :address, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= form.label :location_details %>
      <%= form.text_field :location_details, class: 'form-control' %>
    </div>
     
    <div class='form-group'>
      <%= form.label :city %> 
      <%= form.text_field :city, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= form.label :zip %> 
      <%= form.text_field :zip, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= form.label :state %> 
      <%= form.text_field :state, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= form.label "When:" %>
      <div class="form-inline event-date">
        <%= form.text_field :date, class: 'form-control datepicker'%>
        <%= form.text_field :time, class: 'form-control timepicker' %>
      </div>
    </div>

    <div class='form-group'>
      <%= form.label "Message to attendees" %>
      <%= form.text_field :notes, class: 'form-control' %>
    </div></br>

    <% if current_user %>
        <%= form.hidden_field :host_id, value: current_user.id %>
    <%end%>
      <div class='form-group'>
        <%= form.submit 'Create Event', class: 'btn btn-primary', id: 'create_movement' %>
      </div>
    </fieldset>
  <%end%>
</div>

