<div class='well'>
  <legend>Create an <em><%= params[:type]%></em> event!</legend>

 <%= t("event_type.#{params[:type]}") %> 

  <%= form_for ([@movement, @event]) do |form| %>
    <fieldset>

    <div class='form-group'>
      <%= form.label :event_type %>
      <%= form.select :event_type, [["Speak Out", "Speak Out"], ["Rally", "Rally"], ["Movie Screening"]], { class: 'form-control' }, { class: 'form-control' } %>
    </div>

    <div class='form-group'>
      <%= form.label :event_name %> 
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class='form-group'>     
      <%= form.label :address %> 
      <%= form.text_field :address, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= form.label :address_details %>
      <%= form.text_field :address_details, class: 'form-control' %>
    </div>
     
    <div class='form-group'>
      <%= form.label :city %> 
      <%= form.text_field :city, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= form.label :zip %> 
      <%= form.text_field :zip, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= form.label :date %>
      <%= form.text_field :date, class: 'form-control datepicker' %>
    </div>

    <div class='form-group'>
      <%= form.label :time %>
      <%= form.text_field :time, class: 'form-control timepicker' %>
    </div>

    <div class='form-group'>
      <%= form.label :coordinator %>
      <%= form.select :coordinator_id, [[current_user.email, current_user.id]], { class: 'form-control' }, { class: 'form-control' } %>
    </div>

    <div class='form-group'>
      <%= form.label :notes %>
      <%= form.text_field :notes, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= form.submit 'Create Event', class: 'btn btn-primary' %>
    </div>
    </fieldset>
  <% end %>
</div>
