.container
  .row
    .col-md-10.col-md-offset-1
      .well
        = form_for ([@movement, @event]), html: { id: 'new-event-form' } do |form|
          %fieldset
            %fieldset.event_details
              %legend= t('events.new.legend1')
              .form-group
                = form.label :event_name, t('events.edit.name') + " *"
                = form.text_field :name, class: 'form-control'
              .form-group
                = form.label :event_description, t('events.description') + " *"
                = form.text_field :description, class: 'form-control'
              .event-date-time
                .form-group
                  = form.label t('events.edit.start_date') + " *"
                  = form.text_field :start_time, class: 'form-control datetimepicker'
                .form-group
                  = form.label t('events.edit.end_date')
                  = form.text_field :end_time, class: 'form-control datetimepicker'
              %legend= t('events.new.address')
              .row
                .form-group.col-xs-6
                  = form.label :address, t('events.edit.address1') + " *"
                  = form.text_field :address, class: 'form-control'
                .form-group.col-xs-6
                  = form.label :address2, t('events.edit.address2')
                  = form.text_field :address2, class: 'form-control'
              .row
                .form-group.col-xs-5
                  = form.label :city, t('events.edit.city') + " *"
                  = form.text_field :city, class: 'form-control'
                .form-group.col-xs-2
                  = form.label :state, t('events.edit.state') + " *"
                  = form.text_field :state, class: 'form-control'
                .form-group.col-xs-5
                  = form.label :zip, t('events.edit.zip') + " *"
                  = form.text_field :zip, class: 'form-control'
              .form-group
                = form.label :location_details, t('events.location')
                = form.text_field :location_details, placeholder: t('events.new.location_placeholder'), class: 'form-control'
              %button{type: "button", class: "btn btn-success next"}
                = t('events.new.next')
            %fieldset.event_additional_details
              %legend= t('events.new.legend2')
              .form-group
                = form.label :image
                = form.file_field :image
              .form-group
                = form.label t('events.new.msg_to_attendees')
                = form.text_field :notes, class: 'form-control'
              .form-group
                = form.label :event_type_id, t('events.new.event_type') + " *"
                = form.select :event_type, EventType.all.map(&:name), {class: 'form-control'}
              .form-group
                - unless @movement.sub_movements.empty?
                  = form.label :movement, t('events.new.event_chapter_msg')
                  = form.select :movement, @movement.sub_movements.map(&:name), {include_blank: ""}, {class: 'form-control'}
                - if @movement.parent
                  = form.label :movement, t('events.new.event_chapter_msg')
                  = form.select :movement, @movement.parent.sub_movements.map(&:name), {selected: @movement.name, include_blank: ""}, {class: 'form-control'}
              .form-group
                = form.label  t('events.new.forum_msg')
                = form.check_box :forum_option, class: 'form-control'
              - if current_user
                = form.hidden_field :host_id, value: current_user.id
              .form-group
                %button{type: "button", class: "btn btn-primary previous"}=  t('events.new.previous')
                = form.submit  t('events.new.create_btn'), class: 'btn btn-success', id: 'create_event'
