<div class='row'>
  <h3>Event details page</h3>
  <p><%= @event.name %></p>
  <p><%= @event.location %></p>
  <p><%= @event.notes %></p>
  <p><%= @event.date %></p>
  
  <%= link_to "Generate PDF", event_path(@event, :format => :pdf), :target => '_blank' %>
  <p class="lead">Number of attendees: <span class="badge"> <%= @event.number_of_attendees %> </span></p>
  <% @event.attendees.each do |attendee| %>
    <li class="text-muted">
      <%= attendee.name %>
      <%= attendee.email %>
    </li>
  <% end %>
  <%= render partial: "email_event.html.erb", locals: { event: @event, movement: @movement} %>
</div>
 
<p class="lead">Event tasks </p>
<% if session[:current_attendee_id].nil? %>
   <p class="text-info">You need to attend this event in order to sign up for tasks!
      <%= link_to "I want to attend", new_event_attendee_path(event_id: @event), class: "btn btn-success btn-sm" %>
   </p>
<% end %>
<% @event.tasks.each do |task| %>
  <%= render task %>
<% end %>  

<%= render 'social/share' %>
