<div class="col-sm-6">
<div class='row'>
  <h3>Event details for <%= @event.name %>  
    <% if @event.host?(current_user) %>
      <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-success btn-sm" %>  
    <%end%>
  </h3>

  <h4>Location</h4>
    <p><%= @event.location %></p>
  
  <h4>Notes</h4>
    <p><%= @event.notes %></p>

  <h4>Date</h4>
    <p><%= @event.date %></p>


  <%= link_to "Generate PDF with event summary", event_path(@event, {generate: :event, :format => :pdf}), :target => '_blank' %>
  <h3>Number of attendees: <span class="badge"> <%= @event.number_of_attendees %> </span></h3>
  <% @event.attendees.each do |attendee| %>
    <ul>
      <li class="text-muted">
        <%= attendee.name %>
        <%= attendee.email %>
      </li>
    </ul>
  <% end %>
  <%= render partial: "email_event.html.erb", locals: { event: @event, movement: @movement} %>
</div>
 
<div class="row">
  <h3>Event tasks </h3>
</div>
<% if session[:current_attendee_id].nil? %>
   <p class="text-info">You need to attend this event in order to sign up for tasks!
      <%= link_to "I want to attend", new_event_attendee_path(event_id: @event), class: "btn btn-success btn-sm" %>
   </p>
<% end %>

<% @event.tasks.each do |task| %>
  <%= render task %>
<% end %>  

<div class="row">
  <%= link_to "Generate PDF with tasks list", event_path(@event, {generate: :tasks, :format => :pdf} ), :target => '_blank' %>
</div>
</div>

<%= render 'social/share' %>
