.col-sm-6
  .row
    %h3 Event details for #{@event.name}
    - if @event.host(current_user)
      = link_to "Edit Event", edit_event_path(@event), class: "btn btn-success btn-sm"
  
  %h4 Location
  %p= @event.location
  %h4 Notes
  %p= @event.notes
  %h4 Date
  %p= @event.date

  = link_to "Generate PDF with event summary", event_path(@event, {generate: :event, :format => :pdf}), :target => '_blank'
  %h3
    Number of attendees:
    %span.badge= @event.number_of_attendees
  - @event.attendees.each do |attendee|
    %ul
      %li.text-muted
        =attendee.name
        =attendee.email
  = render partial: "email_event", locals: { event: @event, movement: @movement }

  .row
    %h3 Event tasks
  - if session[:current_attendee_id].nil?
    %p.text-info
      You need to attend this event in order to sign up for tasks!
      = link_to "I want to attend", new_event_attendee_path(event_id: @event), class: "btn btn-success btn-sm"

  - @event.tasks.each do |task|
    =render task

  .row
    =link_to "Generate PDF with tasks list", event_path(@event, {generate: :tasks, :format => :pdf} ), :target => '_blank' 

=render 'social/share', locals: { text: @text = t('event.share') }  
