<div class='row'>
  <h3>Event details page</h3>
  <p><%= @event.name %></p>
  <p><%= @event.location %></p>
  <p><%= @event.notes %></p>
  <p><%= @event.date %></p>
</div>
 
<p class="lead">Event tasks </p>
<% if session[:current_attendee_id].nil? %>
   <p class="text-info">You need to attend this event in order to sign up for tasks!
      <%= link_to "I want to attend", new_event_attendee_path(event_id: @event), class: "btn btn-success btn-sm" %>
   </p>
<% end %>
<% @event.tasks.each do |task| %>
  <%= render task %>
<% end %>  

<%= render 'social/share' %>
