= content_for :title, @event.name
-if flash[:modal]
  :javascript
    $(document).ready(function(){ $("#task_modal").modal(); });

  #task_modal= render partial: "tasks/attendee_tasks", locals: {event: @event}

.container
  =render partial: "event", locals: {event: @event}
  .row
    %hr
  =render "social/rrssb"
  %hr
  %br
  .row
    .col-sm-4#flyer_download
      %strong= t('events.flyer_msg')
      %div= t('events.flyer_dl')
      %a{download: @event.name + "_flyer", href: asset_path(@event.flyer.url), title: @event.name + "_flyer"}
        %img{alt: @event.name + "_flyer", src: asset_path(@event.flyer.url), class: "event-flyer"}
    .col-sm-8
      - unless @event.location == "TBD" || @event.latitude.nil? || @event.longitude.nil?
        .col-sm-12.event-map
          %iframe{frameborder: "0", height: "310", src: "https://www.google.com/maps/embed/v1/place?key=AIzaSyBbtk27nVgvIulQCz60VwgdY0rLBAXdwgg\r\n    &q=#{@event.location}", style: "border:0", width: "100%"}

- if @event.forum_option
  .container
    #disqus_div
      - if current_user
        = SingleSignIn.get_disqus_sso(current_user)
      #disqus_thread
        :javascript
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'shiftengage'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        %noscript
          Please enable JavaScript to view the
          %a{href: "http://disqus.com/?ref_noscript"} comments powered by Disqus.
        %a.dsq-brlink{href: "http://disqus.com"}
          comments powered by
          %span.logo-disqus Disqus
