= content_for :head do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBbtk27nVgvIulQCz60VwgdY0rLBAXdwgg&sensor=false"

.container
  .col-sm-4
    .well
      .row
        %h2.event-header= @event.name
      - if @event.host?(current_user)
        = link_to "Dashboard", dashboard_event_path(@event, anchor: "event"), :class=> "btn btn-success btn-sm"

      %br

      %p.desc= @event.start_time.to_formatted_s(:long) + " to " + @event.end_time.to_formatted_s(:long)

      %br

      %p.desc= @event.location

      -if @event.notes
        %h4 Notes:
        %p= @event.notes


      .attend-button= link_to "Become the #{(@event.number_of_attendees + 1).ordinalize} attendee!", new_event_attendee_path(event_id: @event), class: "btn btn-success btn-sm", id: "attend-button"

      %br

      %h4.desc find out more about #{link_to @event.movement.name, movement_path(@event.movement)}

    =render 'social/share', locals: { text: @text = t('event.share') }

  .col-sm-4
    %iframe{frameborder: "0", height: "550", src: "https://www.google.com/maps/embed/v1/place?key=AIzaSyBbtk27nVgvIulQCz60VwgdY0rLBAXdwgg\r\n    &q=#{@event.location}", style: "border:0", width: "100%"}

  .col-sm-4
    .row
    %h3.event-header Event tasks

    - if session[:current_attendee_id].nil?
      %p.text-info.desc
        You need to attend this event in order to sign up for tasks!


    - @event.tasks.each do |task|
      =render task, event: @event

    .row
      %br
      %br

      .desc= link_to "Generate PDF with event summary", event_path(@event, {generate: :event, :format => :pdf}), :target => '_blank'
      %br
      .desc=link_to "Generate PDF with tasks list", event_path(@event, {generate: :tasks, :format => :pdf} ), :target => '_blank'
      .desc= render partial: "email_event", locals: { event: @event, movement: @movement }

.container
  #disqus_div
    - if current_user
      #disqus_thread
        :javascript
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'shiftengage'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        %noscript
          Please enable JavaScript to view the
          %a{href: "http://disqus.com/?ref_noscript"} comments powered by Disqus.
        %a.dsq-brlink{href: "http://disqus.com"}
          comments powered by
          %span.logo-disqus Disqus
    - else
      %p.text-info.desc
        You need to be signed in to access the discussion thread!
