<div class='row'>
  <h3>"<%= @event.name.titleize %>" event details</h3>
  <h4>Type: <%= @event.type %></h4>
  <h2><%= @event.date %></h2>
  <p><em>Location: </em><%= @event.location %></p>
  <p><%= @event.notes %></p>
  
  <p>Number of attendees: <%= @event.number_of_attendees %> </p>
</div>
