.row
  %h3
    "#{@event.name.titleize}" event details
  %h4
    Type: #{@event.type}
  %h2= @event.date
  %p
    %em Location:
    = @event.location
  %p= @event.notes
  %p
    Number of attendees: #{@event.number_of_attendees}