<div align="center" class="xthin-row">

  <h4>
	Share your involvement:
  </h4>
  <%= render "devise/shared/omniauth" %>


  <h4 id="signup-prompt">
    Don't have a facebook account? 
    <div id="signup-button"> <%= render "devise/shared/sign_up" %> </div>
  </h4>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <div><%= f.label :email %><br />
      <%= f.email_field :email, :class => 'form-control' %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, :class => 'form-control' %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in", :class => 'btn btn-primary' %></div>
  <% end %>
    <div> <%= render "devise/shared/forgot_password" %> </div>
</div>
