<div align="center" class="xthin-row">

  <h4>
		Share your involvement:
  </h4>
  <%= render "devise/shared/omniauth" %>
	
	<h4 id="signup-prompt">
    <div id="signup-button"> <%= render "devise/shared/sign_up" %> </div>
  </h4>
	</br>
	
	<h4>
	  Or login with your email address:
	</h4>
	
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.email_field :email, :class => 'signup-input', :placeholder => 'Your Email Address' %></div>
    </br>
    <div><%= f.password_field :password, :class => 'signup-input', :placeholder => 'Your Password' %></div>
    </br>
    <div><%= f.submit "Sign in", :class => 'signin-button' %></div>
    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>
  <% end %>
  </br>
  <div> <%= render "devise/shared/forgot_password" %> </div>
  </br>
</div>
