<% # locals: f (form) %>

<div class="form-group">
<%= f.label :dependable, "Your team -- and about 3.5 million workers -- will be depending on you. In a few sentences, please convince us that you'll be dependable: " %><br />
<%= f.text_area :dependable, :class => 'form-control' %>
</div>

<div class="form-group">
<%= f.label :support, "In a couple of sentences, please tell us why you want to support the fast food worker strike:" %><br />
<%= f.text_area :support, :class => 'form-control' %>
</div>

<div class="form-group">
<%= f.label :other, "Is there anything else you'd like to tell us about yourself?" %><br />
<%= f.text_area :other, :class => 'form-control' %>
</div>
