%h3= t('movements.email_hosts_modal.title')
= form_tag(mail_hosts_path(movement_id: @group), method: "post") do
	= label_tag t('movements.email_hosts_modal.subject')
	= text_area_tag "subject", nil, class: 'form-control'
	= label_tag t('movements.email_hosts_modal.message')
	= text_area_tag "message", nil, placeholder: t('movements.email_hosts_modal.placeholder'), class: 'form-control', rows: "10"
	= submit_tag t('movements.email_hosts_modal.email_hosts'), class: 'btn ctrl-btn', id: 'Send_Email'