<%= render 'contact_validations' %>

  <h4>Contact the host for: </h4>
  <h5><%=@movement.name%></h5>
  <%= form_for @message, :method => :post, :url => mvmt_contact_path, html: { id: 'contact-form' } do |form| %>
      <div class="field">
        <%= form.label "Your name: *", class: "modal-field form-label" %>
        <%= form.text_field :name, class: "modal-input form-inline form-control" %>
      </div></br>

      <div class="field">
        <%= form.label "Your email: *", class: "modal-field form-label" %>
        <%= form.text_field :email, class: "modal-input form-inline form-control" %>
      </div></br>
      <div class="field">
        <%= form.label "Subject: *", class: "modal-field form-label" %>
        <%= form.text_field :subject, value: "Question about #{@movement.name}",  class: "modal-input form-inline form-control" %>
      </div></br>

      <div class="field">
        <%= form.label "Your message: *", class: "modal-field" %>
        <%= form.text_area :body, class: "modal-input contact-body form-control", rows: "6" %>
      </div>

      <%= form.hidden_field :host_id, value: @movement.id %>

      <%= form.submit "Submit", class: "contact-send-btn btn" %>
    <% end %>
