= render 'contact_validations'
%h4 Contact the host for:
%h5= @event.name
= form_for @message, :method => :post, :url => contact_path, html: { id: 'contact-form' } do |form|
  .field
    = form.label "Your name: *", class: "modal-field form-label"
    = form.text_field :name, class: "modal-input form-inline form-control"
  .field
    = form.label "Your email: *", class: "modal-field form-label"
    = form.text_field :email, class: "modal-input form-inline form-control"
  .field
    = form.label "Subject: *", class: "modal-field form-label"
    = form.text_field :subject, value: "Question about #{@event.name}",  class: "modal-input form-inline form-control"
  .field
    = form.label "Your message: *", class: "modal-field"
    = form.text_area :body, class: "modal-input contact-body form-control", rows: "6"
  = form.hidden_field :host_id, value: @event.id
  = form.submit "Submit", class: "contact-send-btn btn"