.container
  .row
    .col-md-12
      .well
        .form-horizontal
          = form_tag unauthenticated_submovements_path, id: 'new-group-form', method: :post, multipart: true do
            %fieldset
              %fieldset
                %legend Group Details
                .form-group
                  = label :movement, :name, 'Name *', { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_field :movement, :name , { class: 'form-control' }
                .form-group
                  = label :movement, :tagline, { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_area :movement,  :tagline, { class: 'form-control' }
                .form-group
                  = label :movement, :call_to_action, { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_area :movement, :call_to_action, { class: 'form-control' }
                .form-group
                  = label :movement, :extended_description, { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_area :movement, :extended_description, { class: 'form-control' }
                .form-group
                  = label :movement, :about_creator, { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_area :movement, :about_creator, { class: 'form-control' }
                .form-group
                  = label :movement, :website, { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_area :movement, :website, { class: 'form-control' }
                .form-group
                  = label :movement, :avatar, { class: 'col-md-4 control-label' }
                  .col-md-8
                    = file_field :movement, :avatar
                .form-group
                  = label :movement, :video, "Youtube Link", { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_field :movement, :video, { class: 'form-control' }
                .form-group
                  = label :movement, :flickr, "Flickr Gallery URL", { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_field :movement, :flickr, { class: 'form-control' }
                = hidden_field :parent_id, value:  params[:parent_id]
                %button{type: "button", class: "btn btn-success next-group"} Next
              %fieldset.event_additional_details
                %legend Sign Up to Create Group (2/2)
                .row
                  .form-group.col-xs-6
                    = label :user, :name, 'First Name *', class: 'control-label'
                    = text_field :user, :name, class: 'form-control'
                  .form-group.col-xs-6
                    = label :user, :surname, 'Last Name *', class: 'control-label'
                    = text_field :user, :surname, class: 'form-control'
                .row
                  .form-group.col-xs-12
                    = label :user, :email, 'Email *', class: 'control-label'
                    = email_field :user, :email, class: 'form-control'
                .row
                  .form-group.col-xs-12
                    = label :user, :password, 'Password *'
                    = password_field :user, :password, class: 'form-control'
                .row
                  .form-group.col-xs-12
                    = label :user, :password_confirmation, 'Password confirmation *'
                    = password_field :user, :password_confirmation, class: 'form-control'
                .form-group
                  %button{type: "button", class: "btn btn-success previous-group"} Previous
                  = submit_tag "CREATE YOUR GROUP", class: 'btn btn-primary'

