=image_tag "girls_singing.jpg", class: "bg"
.container.no-header{:style => "width: 800px;"}
  .row
    .col-md-4
      %h2
        =t('.thanks_msg')
      %h4
        =t('.explanation_msg')
    .col-md-7
      .well
        .form-horizontal
          = form_tag unauthenticated_submovements_path, id: 'new-group-form', method: :post, multipart: true do
            %fieldset
              %fieldset
                %legend=t('.legend')
                .form-group
                  = label :movement, :name, t('.name') + ' * ', { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_field :movement, :name , { class: 'form-control' }
                .form-group
                  = label :movement, :tagline,  t('.tagline'), { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_area :movement,  :tagline, { class: 'form-control' }
                .form-group
                  = label :movement, :website, t('.website'), { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_area :movement, :website, { class: 'form-control' }
                .form-group
                  = label :movement, :avatar, t('.avatar'), { class: 'col-md-4 control-label' }
                  .col-md-8
                    = file_field :movement, :avatar
                .form-group
                  = label :movement, :video, t('.youtube_link'), { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_field :movement, :video, { class: 'form-control' }
                .form-group
                  = label :movement, :flickr, "Flickr Gallery URL", { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_field :movement, :flickr, { class: 'form-control' }
                = hidden_field :parent_id, value:  params[:parent_id]
                %button{type: "button", class: "btn btn-success next-group"}=t('.next')
              %fieldset.event_additional_details
                %legend=t('.legend2')
                .row
                  .form-group.col-xs-6
                    = label :user, :name, 'First Name *', class: 'control-label'
                    = text_field :user, :name, class: 'form-control'
                  .form-group.col-xs-6
                    = label :user, :surname, 'Last Name *', class: 'control-label'
                    = text_field :user, :surname, class: 'form-control'
                .row
                  .form-group.col-xs-12
                    = label :user, :email, 'Email *', class: 'control-label'
                    = email_field :user, :email, class: 'form-control'
                .row
                  .form-group.col-xs-12
                    = label :user, :password, 'Password *'
                    = password_field :user, :password, class: 'form-control'
                .row
                  .form-group.col-xs-12
                    = label :user, :password_confirmation, 'Password confirmation *'
                    = password_field :user, :password_confirmation, class: 'form-control'
                .form-group
                  %button{type: "button", class: "btn btn-success previous-group"}=t('.previous')
                  = submit_tag t('.create_btn'), class: 'btn btn-primary'

