- render partial: 'shared/load_i18n_translations'
=image_tag Movement.first.image, class: "bg"
.container.no-header
  .row
    .col-md-4
      %h2
        =t('.thanks_msg')
      %h4
        =t('.explanation_msg')
    .col-md-7
      .well
        .form-horizontal
          = form_tag unauthenticated_submovements_path, id: 'new-group-form', method: :post, multipart: true do
            %fieldset
              %p
                =t("events.new.account_exist")
                =link_to t("events.new.sign_in"), new_session_path(:user), id: "sign-in-link"
              %fieldset
                %legend=t('.legend')
                .form-group
                  = label :movement, :name, t('.name') + ' * ', { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_field :movement, :name , { class: 'form-control', placeholder: 'Congo Supporters'}
                .form-group
                  = label :movement, :extended_description, t('.extended_description') + '*', { class: 'col-md-4 control-label'}
                  .col-md-8
                    = text_area :movement, :extended_description, { class: 'form-control', rows: "6", placeholder: 'Tell us more about your team!'}
                .form-group
                  = label :movement, :website, t('.website'), { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_area :movement, :website, { class: 'form-control', placeholder: 'www.congoweek.com' }
                .form-group
                  = label :movement, :avatar, t('.avatar'), { class: 'col-md-4 control-label' }
                  .col-md-8
                    = file_field :movement, :avatar
                  .col-md-8
                    %p#avatar-size
                      =t('.avatar_size')
                .form-group
                  = label :movement, :video, t('.youtube_link'), { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_field :movement, :video, { class: 'form-control' }
                .form-group
                  = label :movement, :flickr, "Flickr Gallery URL", { class: 'col-md-4 control-label' }
                  .col-md-8
                    = text_field :movement, :flickr, { class: 'form-control' }
                = hidden_field :parent_id, value:  params[:parent_id]
                = link_to t('movements.new.cancel_btn'), :back, class: "btn btn-cancel"
                %button{type: "button", class: "btn btn-success next-group"}=t('.next')
              %fieldset.event_additional_details
                %legend=t('.legend2')
                .row
                  .form-group.col-xs-6
                    = label :user, :name, 'First Name *', class: 'control-label'
                    = text_field :user, :name, class: 'form-control', :maxlength => 35
                  .form-group.col-xs-6
                    = label :user, :surname, 'Last Name *', class: 'control-label'
                    = text_field :user, :surname, class: 'form-control', :maxlength => 35
                .row
                  .form-group.col-xs-12
                    = label :user, :email, 'Email *', class: 'control-label'
                    = email_field :user, :email, class: 'form-control'
                .row
                  .form-group.col-xs-12
                    = label :user, :password, 'Password *'
                    = password_field :user, :password, class: 'form-control'
                .row
                  .form-group.col-xs-12
                    = label :user, :password_confirmation, 'Password confirmation *'
                    = password_field :user, :password_confirmation, class: 'form-control'
                .form-group
                  %button{type: "button", class: "btn btn-primary previous-group"}=t('.previous')
                  = submit_tag t('.create_btn'), class: 'btn btn-success'

