%footer
  .container
    .custom-footer
      .row
        .col-xs-5.col-xs-offset-7
          = link_to t('.about') + " | " , about_path, id: 'footer-link'
          = link_to t('.template'), template_path, id: 'footer-link'
          = link_to image_tag("fb_logo.png"), "https://www.facebook.com/congofriends", id: 'share-logo'
          = link_to image_tag("twitter_logo.png"), "https://twitter.com/congofriends", id: 'share-logo'
          = link_to image_tag("youtube_logo.png"), "https://www.youtube.com/user/congofriends", id: 'share-logo'
