<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="blitz" content="9e2aaa16-bb6f93c0-4478e5f8-f29c202c">
  <title><%= content_for?(:title) ? yield(:title) : "Friends of the Congo" %></title>
  <%= include_gon(:init => true) %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBbtk27nVgvIulQCz60VwgdY0rLBAXdwgg&sensor=false" %>
  <%= yield :head %>
</head>
