<div class='container'>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class='container-fluid'>
      <div class='navbar-header'>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>


      </div>

      <div class="navbar-collapse collapse navbar-responsive-collapse" id='collapse-1'>
        <ul class="nav navbar-nav">

          <li> <%= render 'layouts/breadcrumb' %> </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <% if current_user%>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=user_name_or_email.capitalize%><b class="caret"></b></a>

              <ul class="dropdown-menu">
              <% unless current_user.movements.empty? %>
                <li class="dropdown-submenu  pull-left">
                  <a tabindex="-1" href="#">Movement Dashboards</a>
                  <ul class="dropdown-menu submenu-list">
                    <% current_user.movements.each do |movement| %>
                    <li class = "submenu-field"><%= link_to movement.name.capitalize, dashboard_movement_path(movement, anchor: "movement") %></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>

                <li><%= link_to "Profile", user_movements_path %></li>
                <li class="divider"/>
                <li><%= link_to "Create New Movement", new_movement_path %></li>
                <li class="divider"/>
                <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
              </ul>
          <% end %>

          <% if current_user.nil? %>
            <li><%= link_to "Sign In", new_session_path(:user) %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>
</div>
