.container.transparent
  %nav.navbar.navbar-default.navbar-static-top{role: "navigation"}
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-target" => "#collapse-1", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #collapse-1.navbar-collapse.collapse.navbar-responsive-collapse.header-footer
        %ul.nav.navbar-nav
          %li
            = render 'layouts/breadcrumb'
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                = current_user.first_name
                %b.caret
              %ul.dropdown-menu
                %li#my_profile= link_to t('.my_profile'), user_movements_path
                - unless current_user.movements.empty?
                  %li#manage_groups= link_to t('.manage_my_groups'), my_groups_path
                - unless (current_user.events_owned & current_user.current_events).empty?
                  %li#manage_events= link_to t('.manage_my_events'), my_events_path
                %li.divider
                %li= link_to t('.create_group'), new_movement_path
                %li= link_to t('.host_event'), new_movement_event_path(Movement.first) if Movement.first
                %li.divider
                %li= link_to t('.sign_out'), destroy_user_session_path, :method => :delete
          - if current_user.nil?
            %li= link_to t('.sign_in'), new_session_path(:user), id: "sign-in"
          %li.dropdown
            %a.dropdown-toggle.animated.bounce{"data-toggle" => "dropdown", href: "#"}
              = @locale_hash[params[:locale]]
              %b.caret
              %ul.dropdown-menu#languages
                -@locale_hash.each_pair do |key, value|
                  %li= link_to(value, locale: key)