<!DOCTYPE html>
<html>
<head>
<title>Fast Food Strike <%= "- #{Rails.env}" unless Rails.env.production? %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= yield :head %>
</head>
<body>
<div id="wrap">
  <div class="container">

    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <%= link_to 'Fast Food Strike', root_path, :class => 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <% unless current_user.nil? %>
          <li><a href="#"><%= current_user.name %></a></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <li><img src="<%= current_user.image %>" /></li>
        <% else %>
          <li>
            <%- if controller_name != 'sessions' %>
              <%= link_to "Sign in", new_session_path(:user), :class => 'btn btn-default btn-xs' %>
            <% end -%>
          </li>
        <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div>

  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  <div id="push"></div>
</div> <!-- End #wrap -->
<footer>
  <div class="container">
    This project is not affiliated with or authorized by any organization. This is just a brainstorm in code about a new way to organize people. Whether or not it is ever used in the Fast Food Strike, we hope this basic idea will be used someday for something.
  </div>
</footer>
</body>
</html>
