<!DOCTYPE html>
<html lang="en">
<%= render "layouts/head" %>
<%= render "layouts/navbar" %>
<body>
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="row">
        <div class='flash alert alert-success alert-<%= key %>'><%= value %></div>
      </div>
    <% end %>
  </div>
<%= yield %>
</body>
<%= render "layouts/footer" %>
</html>
