<!DOCTYPE html>
<html lang="en">
<%= render "layouts/head" %>
<%= render "layouts/navbar" %>
<body>

<div id="flash_messages">
	<%= render "layouts/flash" %>
<end>

<%= yield %>
</body>
<%= render "layouts/footer" %>
</html>
