<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rallies" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag '/favicon.ico' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class='navbar-header'>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Rallies</a>
      </div>
      
      <div class="navbar-collapse collapse navbar-responsive-collapse" id='collapse-1'>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About", about_path %></li>
          <% if current_user.nil? %> 
          <li><%= link_to "Sign In", new_session_path(:user) %></li>
          <% else %>
          <li><%= link_to user_name_or_email %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <%= flash[:notice] %>
        <%= yield %>
      </div><!--/row-->
    </div> <!-- /container -->

  </body>
</html>
